<%- include("../partials/head_start") %>
<title>Lotte Finance - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub lotte_wrap">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
	<div class="container">
		
		<section>
			<div class="section_inner">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/notice/lotte-img.jpg" alt="" style="width:100%;">
			</div>
		</section>
		
	</div>
	<!--container :: end-->
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>