<%- include("../partials/head_start") %>
	<title><%-course.name-%> - Point Avenue</title>
	<meta name="keywords" content="Point Avenue, <%-course.keyword.join(',')-%>">
	<meta name="description" content="<%-course.desc-%>">
	<meta property="og:title" content="<%-course.name-%> - Point Avenue">
	<meta property="og:description" content="<%-course.desc-%>">
	<meta property="og:type" content="website">
	<meta property="og:image" content="<%-course.thumbnail-%>">

	<%- include("../partials/common_styles_vn") %>
  <%- include("../partials/head_end") %>
  <%- include("../partials/body_start") %>
	<div class="wrap sub class_detail fundamentals">
		<%- include("../partials/gnb-vn") %>
		<!-- container :: start -->
		<div class="container">
			<section class="title_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01"><%-course.name-%></h2>
						<p class="text--gray"><span><%-course.programTitle-%></span> | <span><%-course.age ? `Độ tuổi ${course.age}` : course.grade -%></span></p>
					</div>
				</div>
			</section>
			<section class="course_overview_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_wrap">
							<iframe height="429" src="<%-course.offline.videoUrl-%>" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="video_desc_wrap">
							<h3 class="title_r_02 section_title">Tổng quan khóa học</h3>
							<div class="text s_desc"><%-course.desc.join("<br/><br/>")-%></div>
							<div class="registration_box">
								<p class="title_r_03"><%-course.offline.registrationText-%></p>
								<div class="btn_box">
								  <a
									href="<%-course.offline.enroll-%>"
									class="btn_type_01--sec"
									style="width: auto; padding: 15px; margin-right: 0"
									target="_blank"
									>Nhấn vào đây</a
								  >
								</div>
							  </div>
						</div>
					</div>
				</div>
			</section>
			<section class="about_course_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thông tin cơ bản</h3>
					<div class="course_detail_box">
						<ul>
							<li>
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/person_icon.png" alt="">
								<% if(course.program=="Test Preparation") { %>
									<p class="title_r_03"><%-course.grade-%></p>
								  <% } else { %>
									<p class="title_r_03"><%-course.age-%> Tuổi</p>
								  <% } %>
							</li>
							<li>
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/calendar_icon.png" alt="">
								<p class="title_r_03"><%-course.weeks-%></p>
								<p class="title_r_03"><%-course.duration-%></p>
							</li>
							<li>
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/clock_icon.png" alt="">
								<p class="title_r_03"><%-course.hour-%></p>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<% if(course.offline.objective) { %>
			<section class="course_objective_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Mục tiêu khóa học</h3>
					<div class="img_box">
						<img src="<%-course.offline.objective.image-%>" alt="">
					</div>
					<div class="objective_list">
						<ul class="ul_type_03">
							<% for(const obj of course.offline.objective.strings) { %>
							<li><%-obj-%></li>
							<% } %>
						</ul>
					</div>
				</div>
			</section>
			<% } %>

			<% if(course.offline.books) { %>
			<section class="course_books_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Giáo trình</h3>
					<div class="img_box">
						<img src="<%-course.offline.books.image-%>" alt="">
					</div>
					<div class="books_list">
						<ul class="ul_type_03">
							<% for(const book of course.offline.books.strings) { %>
							<li><%-book-%></li>
							<% } %>
						</ul>
					</div>
				</div>
			</section>
			<% } %>
			<section class="locations_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Địa chỉ</h3>
					<!-- locations 리스트 swiper-->
					<%- include("../partials/locations-list-vn") %>
				</div>
			</section>
		</div>
		<!--container :: end-->
		<%- include("../partials/footer-vn") %>
		<%- include("../partials/common_popup") %>
	</div>

	<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/common.js?v=20210604a"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sub/point-avenue/all-elementary-courses.js"></script>
  <%- include("../partials/body_end") %>