<%- include("../partials/head_start") %>
	<title>Debate Courses - Point Avenue</title>
	<meta name="keywords" content="Point Avenue, Debate Courses, SAT, English Learning">
	<meta name="description"
		content="Point Avenue Debate Programs aim to equip future global leaders with 21st-century skills of critical thinking, collaboration, communication, and creativity. Debate is an academic sport that encourages students to question the status quo, challenge the norm, and speak up for what they believe in. Through debate, students practice and hone their capacity in the four core areas of English learning: reading, writing, listening, and speaking.">
	<meta property="og:title" content="Debate Courses - Point Avenue">
	<meta property="og:description"
		content="Point Avenue Debate Programs aim to equip future global leaders with 21st-century skills of critical thinking, collaboration, communication, and creativity. Debate is an academic sport that encourages students to question the status quo, challenge the norm, and speak up for what they believe in. Through debate, students practice and hone their capacity in the four core areas of English learning: reading, writing, listening, and speaking.">
	<meta property="og:type" content="website">
	<meta property="og:image"
		content="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/classes_visual.png">

	<%- include("../partials/common_styles") %>

		<%- include("../partials/head_end") %>
			<%- include("../partials/body_start") %>
				<div class="wrap sub all_debate_courses">
					<%- include("../partials/gnb") %>
						<!-- container :: start -->
						<div class="container">
							<section class="visual_wrap">
								<div class="section_inner">
									<div class="text_box">
										<h2 class="title_r_01">DEBATE COURSES</h2>
									</div>
								</div>
							</section>
							<section class="classes_grid_wrap">
								<div class="section_inner">
									<div class="text desc_box">
										<strong>Point Avenue Debate Programs</strong> aim to equip future global leaders
										with 21st-century skills of critical thinking, collaboration, communication, and
										creativity. Debate is an academic sport that encourages students to question the
										status quo, challenge the norm, and speak up for what they believe in. Through
										debate, students practice and hone their capacity in the four core areas of
										English learning: reading, writing, listening, and speaking.<br><br>

										Students will be introduced to the foundations of debate in the Beginner Course
										(Elementary, MSHS) with a focus on public speaking in Elementary and 3:3
										parliamentary debate format in Middle School and High School. In the
										Intermediate Course (Elementary, MSHS), students will practice and enhance their
										debating skills through topic exploration, speech drills, and debate practices
										in a competitive environment. In the All-Stars Course (HS), students will focus
										on preparing for debate tournaments through motion analysis, personalized speech
										and debate drills, and tournament debriefs.
									</div>
									<!-- option_wrap :: start -->
									<%- include('../partials/course_filter'); %>
										<!-- option_wrap :: end -->
										<!-- courses_wrap :: start -->
										<div class="courses_wrap">
											<!-- courses_type_box :: start -->
											<div class="courses_type_box">
												<p class="title_r_02 section_title">Our Course Offerings</p>
												<ul class="class_box_type_01">
													<!-- <% for(const course of courses) { %>
									<%- include('../partials/course_list_item', { course }) %>
								 <% } %> -->
												</ul>
											</div>
											<!-- courses_type_box :: end -->
										</div>
										<!-- courses_wrap :: end -->
								</div>
							</section>
							<section class="model_wrap">
								<div class="section_inner">
									<div class="text_box">
										<h3 class="title_r_02 section_title">Teaching Methodology</h3>
										<p class="title_r_03"><strong class="t_yellow">Inquiry Based Learning
												(IBL)</strong> that supports a student centric environment, promoting
											character building, critical thinking, innovation, and motivation</p>
										<p class="text">Point Avenue utilizes an inquiry based approach, fostering
											curiosity, guiding students through the learning process, and leading them
											to become lifelong learners.</p>
									</div>
									<div class="model_img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/model_img2.png"
											alt="">
										<p class="title_r_03">The 5E Model</p>
									</div>
								</div>
							</section>
							<section class="results_wrap">
								<div class="section_inner">
									<h3 class="title_r_02 section_title">Student Achievements</h3>
									<p class="title_r_03">
										Since 2019, our students have participated and achieved notable results in these
										tournaments.
									</p>
									<div class="row_wrap" style="margin-top: 4rem">
										<div class="swipe_type_01_wrap results_swiper_02">
											<div class="swiper-container">
												<ul class="swiper-wrapper swipe_type_02 team_list">
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/speak-logo.jpg"
																alt=""
																title="Our students consistently make the squads for the WSDC Team Vietnam">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/1-+wsdc.png"
																alt=""
																title="Our students consistently make the squads for the WSDC Team Vietnam">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/2-WSC.png"
																alt=""
																title="World Scholar’s Cup Tournament of Champions at Yale University">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/3-aodc.png"
																alt=""
																title="Asian Online Debating Championship (AODC)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/4-vsdc.jpg"
																alt=""
																title="Vietnam Schools Debating Championship (VSDC)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/5-hdt.jpg"
																alt="" title="Hanoi Debate Tournament (HDT)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/6-kida.jpg"
																alt=""
																title="Korea Intervarsity Debate Association Open (KIDA OPEN)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/7-quatar.png"
																alt=""
																title="Qatar International Schools Debating Championship (ISDC)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/8-sido.png"
																alt=""
																title="Shanghai International Debate Open (SIDO)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/9-vbc.png"
																alt=""
																title="Vietnam British Parliamentary Championship (VBC)">
														</div>
													</li>
													<li class="swiper-slide swipe_type_02--item team_item">
														<div class="swipe_type_02--img team_img">
															<p class="more_text">AND<br>MANY<br>MORE!</p>
														</div>
													</li>
												</ul>

												<!-- If we need navigation buttons -->
												<div class="swiper-button-prev"></div>
												<div class="swiper-button-next"></div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section class="testimonials_wrap">
								<div class="section_inner">
									<h3 class="title_r_02 section_title">Testimonials</h3>
									<div class="swipe_type_01_wrap results_swiper_01">
										<div class="swiper-container">
											<ul class="swiper-wrapper swipe_type_02 team_list">
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial1.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial2.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial3.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial4.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-04.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-05.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-06.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-07.jpg"
																alt="">
														</div>
													</a>
												</li>
												<li class="swiper-slide swipe_type_02--item team_item">
													<a href="javascript:void(0);">
														<div class="swipe_type_02--img team_img">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-08.jpg"
																alt="">
														</div>
													</a>
												</li>
											</ul>
											<!-- If we need navigation buttons -->
											<div class="swiper-button-prev"></div>
											<div class="swiper-button-next"></div>
										</div>
									</div>
								</div>
							</section>

							<section class="info_input_wrap">
								<div class="typeform-widget"
									data-url="https://form.typeform.com/to/euBzBBld?typeform-medium=embed-snippet"
									style="width: 100%; height: 500px;"></div>
								<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
							</section>
						</div>
						<!--container :: end-->

						<%- include("../partials/footer") %>
							<%- include("../partials/common_popup") %>
								<div class="layer_popup testimonials_popup">
									<div class="popup_cont">
										<div class="img_box">
											<img src="" alt="">
										</div>
									</div>
									<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
								</div>
				</div>

				<script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
				<script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
				<script language="JavaScript" type="text/javascript" src="/js/common.js?v=20210604a"></script>
				<script language="JavaScript" type="text/javascript" src="/js/sub/program.js"></script>
				<script language="JavaScript" type="text/javascript"
					src="/js/sub/point-avenue/all-elementary-courses.js"></script>
				<script>
					const courseTemplate = `<%- include("../partials/course_list_item", { course: null }); %>`;
					const teamMembers = <% - JSON.stringify(teamMembers) %>;
					const courses = <% - JSON.stringify(courses) %>;
					$(function () {
						const type = 'debate';
						const limit = 0;
						renderCourse(type, limit);

						// 필터 클릭시
						$('.option_list .option_item .filter_item input[type="checkbox"]').change(function () {
							const on = this.checked;
							const value = this.value;
							const option = this.dataset.option;
							courseFilter(option, value, on);
							renderCourse(type, limit);
						});

						// sort
						$('.sort_by_box .sort_kind_item a').click(function () {
							courseSort = this.dataset.value;
						});
					});
				</script>
				<%- include("../partials/body_end") %>