<%- include("../partials/head_start") %>
  <title>TIỂU HỌC - Point Avenue</title>
  <meta name="keywords" content="Point Avenue, SAT, English Learning" />
  <meta name="description"
    content="The Elementary English Learning program is designed to develop students’ English literacy development skills from pre-kindergarten to grade 4 level. The program focuses on building four critical blocks of language: Reading, Writing, Listening, and Speaking. The contents of this course bridge ESL methodology and components of the US Common Core State Standards to ensure our students can be successful at home and as global citizens. More importantly, we are committed to promoting the 21st Century Skills that will help our students thrive through the integration of character, critical thinking, collaboration, communication, and creativity. Our Elementary curriculum and teaching methodology encourages the use of cooperative, and inquiry-based learning and enriches our students’ academic, social, and emotional skills." />
  <meta property="og:title" content="Elementary Courses - Point Avenue" />
  <meta property="og:description"
    content="The Elementary English Learning program is designed to develop students’ English literacy development skills from pre-kindergarten to grade 4 level. The program focuses on building four critical blocks of language: Reading, Writing, Listening, and Speaking. The contents of this course bridge ESL methodology and components of the US Common Core State Standards to ensure our students can be successful at home and as global citizens. More importantly, we are committed to promoting the 21st Century Skills that will help our students thrive through the integration of character, critical thinking, collaboration, communication, and creativity. Our Elementary curriculum and teaching methodology encourages the use of cooperative, and inquiry-based learning and enriches our students’ academic, social, and emotional skills." />
  <meta property="og:type" content="website" />
  <meta property="og:image"
    content="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/classes_visual.png" />

  <%- include("../partials/common_styles_vn") %> <%- include("../partials/head_end") %> <%-
        include("../partials/body_start") %>
        <div class="wrap sub all_elmentary_courses">
          <%- include("../partials/gnb-vn") %>
            <!-- container :: start -->
            <div class="container">
              <section class="visual_wrap">
                <div class="section_inner">
                  <div class="text_box">
                    <h2 class="title_r_01 Montserrat">TIỂU HỌC</h2>
                  </div>
                </div>
              </section>
              <section class="classes_grid_wrap">
                <div class="section_inner">
                  <div class="text desc_box Montserrat">
                    <strong>Chương trình Tiếng Anh trẻ em & các khóa học Khám Phá</strong>
                    được thiết kế dành cho học sinh từ lớp mẫu giáo đến lớp 5 nhằm tạo môi
                    trường tiếp nhận ngôn ngữ một cách tự nhiên, giúp phát triển các kỹ
                    năng tiếng Anh nền tảng, đồng thời kích thích và nuôi dưỡng trí tò mò
                    của các em. Học sinh sẽ được phát triển các kỹ năng ngôn ngữ chính:
                    Nghe, Nói, Đọc, Viết & đánh giá Năng lực Ngôn Ngữ theo tiêu chuẩn
                    Common Core của Hoa Kỳ. Bên cạnh đó, chúng tôi cũng chú trọng giúp các
                    em hình thành và phát huy những kỹ năng quan trọng của thế kỷ 21 như
                    thuyết trình, giao tiếp, tư duy sáng tạo, trau dồi phẩm chất và tăng
                    cường những kỹ năng về cảm xúc, xã hội để có thể sẵn sàng trở thành
                    những thế hệ công dân tương lai tự tin & chính trực.
                  </div>
                  <!-- option_wrap :: start -->
                  <%- include('../partials/course_filter'); %>
                    <!-- option_wrap :: end -->
                    <!-- courses_wrap :: start -->
                    <div class="courses_wrap">
                      <!-- courses_type_box :: start -->
                      <div class="courses_type_box">
                        <p class="title_r_02 section_title Montserrat">
                          Danh sách các khóa học
                        </p>
                        <ul class="class_box_type_01">
                          <% for(const course of courses) { %> <%- include('../partials/course_list_item_vn', { course
                              }) %>
                              <% } %>
                        </ul>
                      </div>
                      <!-- courses_type_box :: end -->
                    </div>
                    <!-- courses_wrap :: end -->
                </div>
              </section>
              <section class="model_wrap">
                <div class="section_inner">
                  <div class="text_box">
                    <h3 class="title_r_02 section_title Montserrat">
                      Phương pháp giảng dạy:
                    </h3>
                    <p class="title_r_03 Montserrat">
                      Các khoá học đều ứng dụng phương pháp học tập dựa trên
                      <strong class="t_yellow Montserrat">“Tìm tòi -
                        Khám phá” (Inquiry-based learning)</strong>
                      kết hợp với các hoạt động thảo luận và tương tác trong lớp để khơi
                      dạy trí tò mò và thúc đẩy các em chủ động đưa ra quan điểm cá nhân
                      về chủ đề bài học. Từ đó, các em sẽ có thể cải thiện kỹ năng giao tiếp, rèn luyện tính
                      chủ động, và phát triển tư duy phản biện.
                    </p>
                  </div>
                  <div class="model_img_box">
                    <img
                      src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/model_img2.png"
                      alt="" />
                    <p class="title_r_03">Phương pháp 5E</p>
                  </div>
                </div>
              </section>
              <section class="testimonials_wrap">
                <div class="section_inner">
                  <h3 class="title_r_02 section_title Montserrat">
                    Chia sẻ của phụ huynh & học sinh
                  </h3>
                  <div class="swipe_type_01_wrap results_swiper_01">
                    <div class="swiper-container">
                      <ul class="swiper-wrapper swipe_type_02 team_list">
                        <li class="swiper-slide swipe_type_02--item team_item">
                          <a href="javascript:void(0);">
                            <div class="swipe_type_02--img team_img">
                              <img
                                src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-01.jpg"
                                alt="" />
                            </div>
                          </a>
                        </li>
                        <li class="swiper-slide swipe_type_02--item team_item">
                          <a href="javascript:void(0);">
                            <div class="swipe_type_02--img team_img">
                              <img
                                src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg"
                                alt="" />
                            </div>
                          </a>
                        </li>
                        <li class="swiper-slide swipe_type_02--item team_item">
                          <a href="javascript:void(0);">
                            <div class="swipe_type_02--img team_img">
                              <img
                                src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/Testimonial 18 May-03.jpg"
                                alt="" />
                            </div>
                          </a>
                        </li>
                      </ul>
                      <!-- If we need navigation buttons -->
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-button-next"></div>
                    </div>
                  </div>
                </div>
              </section>

              <section class="info_input_wrap">
                <div class="typeform-widget"
                  data-url="https://form.typeform.com/to/euBzBBld?typeform-medium=embed-snippet"
                  style="width: 100%; height: 500px"></div>
                <script>
                  (function () {
                    var qs,
                      js,
                      q,
                      s,
                      d = document,
                      gi = d.getElementById,
                      ce = d.createElement,
                      gt = d.getElementsByTagName,
                      id = "typef_orm",
                      b = "https://embed.typeform.com/";
                    if (!gi.call(d, id)) {
                      js = ce.call(d, "script");
                      js.id = id;
                      js.src = b + "embed.js";
                      q = gt.call(d, "script")[0];
                      q.parentNode.insertBefore(js, q);
                    }
                  })();
                </script>
              </section>
            </div>
            <!--container :: end-->
            <%- include("../partials/footer-vn") %> <%- include("../partials/common_popup") %>
                <div class="layer_popup testimonials_popup">
                  <div class="popup_cont">
                    <div class="img_box">
                      <img src="" alt="" />
                    </div>
                  </div>
                  <a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
                </div>
        </div>
        <script language="JavaScript" type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/swiper.min.js"></script>
        <script language="JavaScript" type="text/javascript" src="/js/common.js?v=20210604a"></script>
        <!-- <script
  language="JavaScript"
  type="text/javascript"
  src="/js/sub/program.js"
></script> -->
        <script language="JavaScript" type="text/javascript"
          src="/js/sub/point-avenue/all-elementary-courses.js"></script>
        <script>
          const courseTemplate = `<%- include("../partials/course_list_item_vn", { course: null }); %>`;
          const teamMembers = <% - JSON.stringify(teamMembers) %>;
          const courses = <% - JSON.stringify(courses) %>;
          $(function () {
            const type = 'elementary';
            const limit = 0;
            renderCourse(type, limit);

            // 필터 클릭시
            $('.option_list .option_item .filter_item input[type="checkbox"]').change(function () {
              const on = this.checked;
              const value = this.value;
              const option = this.dataset.option;
              courseFilter(option, value, on);
              renderCourse(type, limit);
            });

            // sort
            $('.sort_by_box .sort_kind_item a').click(function () {
              courseSort = this.dataset.value;
            });

            /*mentor 클릭시, mentor 상세 팝업 노출*/
            $('.mentors_wrap .team_item > a').click(function () {
              $('.mentor_popup').show();
              changeTeacherData(teamMembers, document.querySelector('.mentor_info_box .ul_type_02'), this);
              $('.dim').show();
            });

          });
        </script>
        <%- include("../partials/body_end") %>