<%- include("../partials/head_start") %>
	<title>Online Learning Courses - Point Avenue</title>
	<meta name="keywords" content="Courses, Online Learning, Point Avenue">
	<meta name="title" content="Online Learning Courses - Point Avenue">
	<meta property="og:title" content="Online Learning Courses - Point Avenue">

	<%- include("../partials/common_styles") %>
		<%- include("../partials/common_scripts") %>
			<script language="JavaScript" type="text/javascript" src="/js/sub/program/online-learning.js"></script>
			<%- include("../partials/head_end") %>
				<%- include("../partials/body_start") %>
					<div class="wrap sub online_learning">
						<%- include("../partials/gnb") %>
							<!-- container :: start -->
							<div class="container">
								<section class="visual_wrap">
									<div class="section_inner">
										<div class="text_box">
											<h2 class="title_r_01">Access world-class education from your home </h2>
										</div>
									</div>
								</section>
								<section class="camp_info_wrap">
									<div class="section_inner">
										<div class="grid_type_wrap_01">
											<div class="video_article">
												<div class="article_box">
													<div class="video_box">
														<iframe src="https://www.youtube.com/embed/qGrEEiIPO3U"
															title="YouTube video player" frameborder="0"
															allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
															allowfullscreen></iframe>
													</div>
												</div>
											</div>
											<div class="text_article">
												<h3 class="title_r_02 section_title">Point Avenue Online Learning</h3>
												<div class="text">
													Our virtual classroom allows you to take your class anywhere! You
													can securely manage your class sessions and join the virtual
													classroom through the learning management system, directly access
													materials on the whiteboard and engage in the class with interactive
													features.
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="why_choose">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Why choose Point Avenue Online Learning?
										</h3>
										<ul class="box_type_01 asset_list video_list">
											<li class="asset_item asset_01">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-location.png"
													alt="">
												<p class="title_r_03">Join classes from anywhere </p>
											</li>
											<li class="asset_item asset_02">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-hat34.png"
													alt="">
												<p class="title_r_03">Learn from world-leading educators</p>
											</li>
											<li class="asset_item asset_03">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-laptop.png"
													alt="">
												<p class="title_r_03">Access diverse online learning resources</p>
											</li>
										</ul>
									</div>
								</section>


								<section class="courses_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Our Online Programs</h3>
										<ul class="box_type_01 courses_list">
											<li class="box_type_01--item courses_item">
												<div class="box_type_01--img courses_img">
													<a href="/programs/online-debate-course">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/online_courses_1.png"
															alt="">
													</a>
												</div>
												<div class="box_type_01--desc courses_desc_box">
													<p class="title_r_03"><a
															href="/programs/online-debate-course">Online Debate
															Courses</a></p>
													<div class="desc_text">An engaging English program for children
														aligned with Common Core standards to maximize the children's
														learning and development</div>
													<a href="/programs/online-debate-course" class="btn_type_01--sec">
														<span class="btn_inner">Learn More</span>
													</a>
												</div>
											</li>
											<li class="box_type_01--item courses_item">
												<div class="box_type_01--img courses_img">
													<a>
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/online_courses_2.png"
															alt="">
													</a>
												</div>
												<div class="box_type_01--desc courses_desc_box">
													<p class="title_r_03"><a href="/programs/9">Reading Classes </a></p>
													<div class="desc_text">Providing English academic rigor and soft
														skills to better prepare students for lifelong learning and
														growth </div>
													<a class="btn_type_01--sec">
														<span class="btn_inner">Coming soon!</span>
													</a>
												</div>
											</li>
											<li class="box_type_01--item courses_item">
												<div class="box_type_01--img courses_img">
													<a>
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/online_courses_3.png"
															alt="">
													</a>
												</div>
												<div class="box_type_01--desc courses_desc_box">
													<p class="title_r_03"><a href="/programs/5">Independent Reading
															Workshop</a></p>
													<div class="desc_text">Focuses on leadership development, life
														coaching, skills development, and goal setting; taught by
														experienced mentors</div>
													<a class="btn_type_01--sec">
														<span class="btn_inner">Coming soon!</span>
													</a>
												</div>
											</li>
										</ul>
									</div>
								</section>

								<section class="learning-model">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Choose the learning model </h3>
										<ul class="box_type_01 asset_list video_list">
											<li class="asset_item asset_01">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-location.png"
													alt="">
												<p class="title_r_03">On Demand </p>
												<div class="text--gray">
													Access bite-sized video lessons on the subject you wish to learn
													anytime and anywhere
												</div>
											</li>
											<li class="asset_item asset_02">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-hat34.png"
													alt="">
												<p class="title_r_03">Advanced </p>
												<div class="text--gray">
													Learn via video lessons, and get your assigment checked and graded
													by top teachers
												</div>
											</li>
											<li class="asset_item asset_03">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-laptop.png"
													alt="">
												<p class="title_r_03">Ultimate</p>
												<div class="text--gray">
													Get personalized tutoring from our leading teachers and speed up
													your learning progress
												</div>
											</li>
											<li class="asset_item asset_03">
												<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-laptop.png"
													alt="">
												<p class="title_r_03">Hybrid </p>
												<div class="text--gray">
													Benefit from a combination of Video-on-demand system and real-time
													online classroom that keep you engaged the whole way through
												</div>
											</li>
										</ul>
									</div>
								</section>

								<section class="camp_info_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">What our parents & students are saying?
										</h3>
										<div class="grid_type_wrap_01 grid_type_wrap_saying">
											<div class="video_article">
												<div class="article_box">
													<div class="video_box">
														<iframe
															src="https://www.facebook.com/plugins/video.php?height=377&width=670&href=https://www.facebook.com/PointAvenue/videos/1325747444486628/&show_text=false"
															width="670" height="377" title="YouTube video player"
															frameborder="0"
															allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
															allowfullscreen></iframe>
													</div>
												</div>
											</div>
											<div class="history_box history_box_02">
												<div class="say_box">
													<p class="text">At Point Avenue, teachers always contact parents
														regularly to keep them up-to-date on children's progress. They
														also organize a midterm private meeting for each parent so that
														we can catch up with our children’s study, strengths and
														weaknesses to improve and better their performance.

														Nhat Minh participates in class very enthusiastically, and has
														been able to speak for a lot longer during his debate speeches.
														Hyewon and Travis are his debate coaches, and he likes them both
														very much. </p>
													<p class="name">- Mrs. Hoa, Nhat Minh's Mother</p>
												</div>
											</div>
										</div>
									</div>
								</section>
								<section class="saying_block">
									<div class="section_inner">
										<div class="swiper-container">
											<ul class="swiper-wrapper">
												<li class="swiper-slide">
													<div class="box-saying">
														<div class="avatar">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Ngoc+Linh.jpg"
																alt="student-avatar">
														</div>
														<div class="student-detail">
															<div class="student-name">Ngoc Linh</div>
															<div class="course-name"> MS Debate Intermediate</div>
															<div class="sayings">
																<p>“ At the Point Avenue Debate Online course, I could
																	still learn a lot every day. The lessons were
																	consistent. I didn't feel like anything has been
																	lost or reduced. If I could change something, then I
																	would still not change my online course experience.
																	Debating online was pretty hard. We found it very
																	challenging to compete against students who are a
																	lot older and have more debate experience than us.
																	Nevertheless, I enjoyed the tournaments, and I look
																	forward to meeting my opponents in person."Debate is
																	not just about learning to use English. It is also
																	the bridge that connects our children to the world
																	of knowledge." Mrs. Huong, Ngoc Linh's mom “</p>
															</div>
														</div>
													</div>

												</li>
												<li class="swiper-slide">
													<div class="box-saying">
														<div class="avatar">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Ngoc+Vy.JPG"
																alt="student-avatar">
														</div>
														<div class="student-detail">
															<div class="student-name">Ngoc Vy</div>
															<div class="course-name">MS Debate Beginner</div>
															<div class="sayings"> “ I like that we have more
																accessibility to time and space. As I have to get up and
																get ready for offline classes, we don't have to do so
																with online courses. It helps me not miss anything at
																the beginning of the class. “</div>
														</div>
													</div>
												</li>
												<li class="swiper-slide">
													<div class="box-saying">
														<div class="avatar">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thuc+Anh.jpg"
																alt="student-avatar">
														</div>
														<div class="student-detail">
															<div class="student-name">Thuc Anh</div>
															<div class="course-name">HS Debate Allstars</div>
															<div class="sayings"> “ In offline classes, we usually have
																textbooks. But it is cumbersome because we also need to
																bring our laptops to search for resources, videos, and
																articles. But with online classes, we are just one click
																away from those materials. That's it. And it makes our
																debate so much more fun and interesting. “</div>
														</div>
													</div>
												</li>
												<li class="swiper-slide">

													<div class="box-saying">
														<div class="avatar">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thuy+Anh.JPG"
																alt="student-avatar">
														</div>
														<div class="student-detail">
															<div class="student-name">Thuy Anh</div>
															<div class="course-name">MS Debate Intermediate</div>
															<div class="sayings"> “ With online classes, we could go
																into different breakout rooms and discuss. The online
																course has created that quiet space for our discussion.
																It allows us more freedom to focus because often, in
																offline classes, everyone is talking, so it will be hard
																to focus on what your partners are saying. “</div>
														</div>
													</div>
												</li>
												<li class="swiper-slide">
													<div class="box-saying">
														<div class="avatar">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thanh+Mai.JPG"
																alt="student-avatar">
														</div>
														<div class="student-detail">
															<div class="student-name">Thanh Mai</div>
															<div class="course-name">MS Debate Intermediate</div>
															<div class="sayings"> “ I think the change to online classes
																has benefited us a lot. We get to do a lot of practice
																online. It helps us become more accustomed to online
																formats. If we want to go to an online tournament, it
																will be much easier. “</div>
														</div>
													</div>
												</li>
											</ul>
											<!-- If we need navigation buttons -->
										</div>
										<div class="swiper-pagination"></div>
									</div>
								</section>

								<section class="sing_up_test_wrap">
									<div class="typeform-widget"
										data-url="https://form.typeform.com/to/euBzBBld?typeform-medium=embed-snippet"
										style="width: 100%; height: 500px;"></div>
									<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })() </script>
								</section>

							</div>
							<!--container :: end-->
							<div class="layer_popup testimonials_popup">
								<div class="popup_cont">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png"
											alt="">
									</div>
								</div>
								<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
							</div>
							<%- include("../partials/footer") %>
								<%- include("../partials/common_popup") %>
					</div>
					<%- include("../partials/body_end") %>