<%- include("../partials/head_start") %>
<title>Online Debate Courses - Point Avenue</title>
<meta name="keywords" content="Courses, Online Learning, Point Avenue">
<meta name="title" content="Online Debate Courses - Point Avenue">
<meta property="og:title" content="Online Debate Courses - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/program/online-debate.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub online_debate">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">Lớp học trực tuyển với các chuyên gia giúp đáp ứng mọi nhu cầu học tập của bạn. </h2>
					</div>
				</div>
			</section>
			<section class="camp_info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/gGTQH10KtbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="text_article">
							<h3 class="title_r_02 section_title">Học cùng các huấn luyện viên tranh biện hàng đầu Châu Á.</h3>
							<div class="text">
								<span class="bold">Tranh biện là gì?</span> Tranh biện là một môn thể thao học thuật cho phép học viên rèn luyện, làm chủ kỹ năng nói trước đám đông và kỹ năng nghe chủ động, đồng thời khuyến khích các em đặt nghi vấn cho các chuẩn mực hiện có và xem xét các vấn đề cũ từ góc nhìn mới. 
							</div>
							<br />
							<div class="text">
								<span class="bold">Tại sao nên học Tranh biện?</span> Chương trình Tranh biện của chúng tôi nhằm mục đích nuôi dưỡng các nhà lãnh đạo tương lai và trang bị cho các em các kỹ năng giao tiếp, tư duy phản biện, sáng tạo và hợp tác của thế kỷ 21. 
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="why_choose">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Tại sao nên đăng ký khóa học tại Point Avenue?</h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-hat34.png" alt="">
							
							<p class="title_r_03">Huấn luyện viên đẳng cấp quốc tế </p>
							<div class="text--gray">
								Được xây dựng bởi Huấn luyện viên trưởng của Đội tuyển Việt Nam cho Giải vô địch Tranh biện học sinh thế giới (WSDC), chương trình giảng dạy tại Point Avenue mang đến trải nghiệm học tập toàn diện và có một không hai cho học sinh.
							</div>
						</li>
						<li class="asset_item asset_02">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-laptop.png" alt="">
							
							<p class="title_r_03">Học tập dựa trên phương pháp tìm tòi-khám phá</p>
							<div class="text--gray">
								Chúng tôi sử dụng phương pháp Học tập Khám phá (IBL) để mang lại kết quả tích cực, thúc đẩy học sinh phát triển và phát huy tối đa tiềm năng.
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-location.png" alt="">
							<p class="title_r_03">Cá nhân hóa việc học với chương trình giảng dạy linh hoạt</p>
							<div class="text--gray">
								Học bất kì khi nào bạn rảnh, ở bất kì nơi đâu. Cá nhân hóa trải nghiệm học tập giúp các em đạt được mục tiêu của mình.
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="learning-model">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Chọn kế hoạch học cho bản thân: </h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-location.png" alt="">
							<p class="title_r_03">Debate Anytime! </p>
							<div class="text--gray">
								- Học theo tốc độ của riêng bạn
							</div>
							<div class="text--gray">
								- Học bất kì lúc nào, bất kì nơi đâu
							</div>
						</li>
						<li class="asset_item asset_02">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-hat34.png" alt="">
							<p class="title_r_03">Debate Anytime Plus! </p>
							<div class="text--gray">
								Học theo tốc độ của riêng bạn
							</div>
							<div class="text--gray">
								Học bất kì lúc nào, bất kì nơi đâu
							</div>
							<div class="text--gray">
								Nhận feedback bài làm từ các huấn luyện viên của Point Avenue
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/ic-laptop.png" alt="">
							<p class="title_r_03">Debate Realtime!</p>
							<div class="text--gray">
								Học theo tốc độ của riêng bạn qua các video theo yêu cầu (VOD)
							</div>
							<div class="text--gray">
								Nhận feedback bài làm từ các huấn luyện viên của Point Avenue
							</div>
							<div class="text--gray">
								Tương tác với các bạn học khác và được các huấn luyện viên Tranh biện tại Point Avenue hướng dẫn trực tiếp
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="camp_info_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Cảm nhận của phụ huynh & học sinh</h3>
					<div class="grid_type_wrap_01 grid_type_wrap_saying">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.facebook.com/plugins/video.php?height=377&width=670&href=https://www.facebook.com/PointAvenue/videos/1325747444486628/&show_text=false" width="670" height="377" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="history_box history_box_02">
							<div class="say_box">
								<p class="text">"Nhật Minh hào hứng tham gia các buổi học, và nói được dài hơn trong các bài nói của con. Cả Cô Hyewon và Thầy Travis dạy con trong khoá học vừa rồi con đều rất thích."</p>
								<p class="name">- Chị Hoa - Mẹ Nhật Minh</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="saying_block">
				<div class="section_inner">
					<div class="swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="box-saying">
									<div class="avatar">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Ngoc+Linh.jpg" alt="student-avatar">
									</div>
									<div class="student-detail">
									  <div class="student-name">Ngoc Linh</div>
									  <div class="course-name"> Tranh biện Trung học (Trung cấp)</div>
									  <div class="sayings">
											<p>Tại lớp học tranh biện online của Point Avenue, con được học rất nhiều điều mới mỗi ngày. Các bài học rất có khoa học. Con không cảm thấy bị thiếu hụt kiến thức. Dù được phép thay đổi thì con cũng sẽ không thay đổi bất kì điều gì trong trải nghiệm học tranh biện trực tuyến. </p>
											<p>Tranh biện online khá là khó và con cảm thấy rất nhiều thách thức khi phải thi đấu với các anh chị nhiều kinh nghiệm hơn. Tuy nhiên, con rất thích tham gia các giải đấu, và rất mong được gặp các đối thủ ở ngoài đời. </p>
											<p>Chị Hương, mẹ của Ngọc Linh chia sẻ "Tranh biện không chỉ là học cách sử dụng tiếng Anh, mà đó còn là cầu nối giúp con trẻ tiếp cận với kiến thức trên khắp thế giới."</p>
										</div>
									</div>
								</div>
								
							</li>
							<li class="swiper-slide">
								<div class="box-saying">
									<div class="avatar">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Ngoc+Vy.jpg" alt="student-avatar">
									</div>
									<div class="student-detail">
									  <div class="student-name">Ngoc Vy</div>
									  <div class="course-name">Tranh biện Trung học (Cơ bản)</div>
									  <div class="sayings">"Nhờ khóa tranh biện online mà em có nhiều thời gian và không gian để học tập hơn. Bình thường em sẽ phải dậy sớm, chuẩn bị cho các lớp học trực tiếp nhưng với lớp online thì em chỉ cần ngồi nhà mà vẫn tiếp thu được kiến thức. Ngoài ra, khóa học online cũng giảm tình trạng bị nhỡ lớp học."</div>
									</div>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="box-saying">
									<div class="avatar">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thuc+Anh.jpg" alt="student-avatar">
									</div>
									<div class="student-detail">
									  <div class="student-name">Thục Anh</div>
									  <div class="course-name">Tranh biện All-stars</div>
									  <div class="sayings">"Trong các lớp học trực tiếp, dù bọn em được trang bị sách giáo trình nhưng việc đi lại vẫn khá cồng kềnh vì bọn em vẫn phải mang theo laptop để tìm kiếm tài liệu, videos và các bài báo. Nhưng với lớp học trực tuyến, bọn em có thể sử dụng laptop ngay tại nhà. Lớp học tranh biện trở nên vui và thú vị hơn bao giờ hết!"</div>
									</div>
								</div>
							</li>
							<li class="swiper-slide">
								
								<div class="box-saying">
									<div class="avatar">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thuy+Anh.jpg" alt="student-avatar">
									</div>
									<div class="student-detail">
									  <div class="student-name">Thúy Anh</div>
									  <div class="course-name">Tranh biện Trung học (Trung học)</div>
									  <div class="sayings">Với lớp học trực tuyến, bọn con có thể tham gia các phòng nghỉ (breakout room) khác nhau để thảo luận riêng. Khóa học trực tuyến tạo điều kiện giúp bọn em có không gian yên tĩnh tuyệt đối để học tập. Vì thông thường trong các lớp trực tiếp, tiếng ồn từ xung quanh khiến bọn em khó có thể tập trung lắng nghe ý kiến của đồng đội."</div>
									</div>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="box-saying">
									<div class="avatar">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/Thanh+Mai.jpg" alt="student-avatar">
									</div>
									<div class="student-detail">
									  <div class="student-name">Thanh Mai</div>
									  <div class="course-name">Tranh biện Trung học (Trung cấp)</div>
									  <div class="sayings">"Con nghĩ lớp tranh biện chuyển sang hình thức trực tuyến có rất nhiều lợi ích. Bọn con có nhiều thời gian luyện tập online và giúp bọn con làm quen với mô hình tranh biện online. Nếu bọn con được tham gia các giải đấu tranh biện online thì bọn con sẽ có nhiều kinh nghiệm hơn."</div>
									</div>
								</div>
							</li>
						</ul>
						<!-- If we need navigation buttons -->
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</section>

			<section class="results_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Thành tựu của học sinh</h3>
					<p class="title_r_03">
						Các học sinh của Point Avenue đã tham gia và đạt được nhiều thành tựu to lớn trong các giải đấu tranh biện quốc tế:
					</p>
					<div class="row_wrap">
						<div class="swipe_type_01_wrap results_swiper_02">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/1-+wsdc.png" alt="" title="Our students consistently make the squads for the WSDC Team Vietnam">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/2-WSC.png" alt="" title="World Scholar’s Cup Tournament of Champions at Yale University">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/3-aodc.png" alt="" title="Asian Online Debating Championship (AODC)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/4-vsdc.jpg" alt="" title="Vietnam Schools Debating Championship (VSDC)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/5-hdt.jpg" alt="" title="Hanoi Debate Tournament (HDT)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/6-kida.jpg" alt="" title="Korea Intervarsity Debate Association Open (KIDA OPEN)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/7-quatar.png" alt="" title="Qatar International Schools Debating Championship (ISDC)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/8-sido.png" alt="" title="Shanghai International Debate Open (SIDO)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/online-learning/9-vbc.png" alt="" title="Vietnam British Parliamentary Championship (VBC)">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="sing_up_test_wrap">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/euBzBBld?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
			
		</div>
		<!--container :: end-->
		<div class="layer_popup testimonials_popup">
			<div class="popup_cont">
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
				</div>
			</div>
			<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
		</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>