<%- include("partials/head_start") %>

<title>TƯ VẤN DU HỌC - Point Avenue</title>
<meta name="keywords" content="TƯ VẤN DU HỌC, PointAve">
<meta name="title" content="TƯ VẤN DU HỌC - Point Avenue">
<meta property="og:title" content="TƯ VẤN DU HỌC - Point Avenue">

<%- include("partials/common_styles_vn") %>
<%- include("partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<script>
	const studies = <%- JSON.stringify(studies) %>;
</script>
<script>
	const mentors = <%- JSON.stringify(mentors) %>;
</script>
<div class="wrap sub admission_consulting">
  <%- include("partials/gnb-vn") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">TƯ VẤN DU HỌC</h2>
						<div class="tab">
							<a href="#our-services">
								<div class="menu-item">Dịch vụ</div>
							</a>
							<a href="#our-results">
								<div class="menu-item">Kết quả tuyển sinh</div>
							</a>
							<a href="#our-students">
								<div class="menu-item">Học sinh của chúng tôi</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_wrap">
							<iframe src="https://www.youtube.com/embed/GffbzanqjDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="text_wrap">
							<p class="title_r_02 section_title">Mục tiêu của chúng tôi</p>
							<div class="text">
								Nhiệm vụ của chúng tôi không chỉ dừng lại ở việc giúp học sinh của mình trúng tuyển vào những ngôi trường phù hợp nhất, mà còn chú trọng vào việc định hướng phát triển nhân cách, năng lực cá nhân, giúp các em thêm tự tin và vững vàng cho hành trình trở thành những công dân toàn cầu.
							</div>
							<div class="text">
								Đại học là một trong những cột mốc quan trọng có ảnh hưởng lớn tới mỗi người. Hãy đồng hành với đội ngũ cố vấn tại PA, cùng xây dựng phiên bản tốt nhất của chính mình và chinh phục những mục tiêu xa hơn nữa
							</div>
							<a href="https://pointavenue1.typeform.com/to/wXI8gOLN" target="_blank" class="btn_type_01--sec"><span>Đăng ký tư vấn MIỄN PHÍ tại đây</span></a>
							<a style="margin-top: 1rem;" href="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/pdf/Summer+App+Intensive(1).pdf" target="_blank" class="btn_type_01--sec"><span>Trại hè ứng tuyển ĐH chuyên sâu</span></a>
						</span></a>
						</div>
					</div>
				</div>
			</section>
			<section class="approach_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Phương pháp của chúng tôi</h3>
					<div class="approach_box">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Bước 1. Xây Dựng Mối Quan Hệ</strong>
									<strong>Luke Skywalker và Obi-Wan Kenobi. Christian Dior và Yves-Saint Laurent. Socrates và Plato.</strong> Chúng tôi tin rằng mỗi câu chuyện thầy - trò đáng nhớ đều bắt đầu từ sự lắng nghe, tôn trọng và tin tưởng. Các thầy cô cùng đội ngũ cố vấn luôn dành thời gian để tìm hiểu và đồng cảm với những học sinh của mình. Những sở thích, đam mê và những câu chuyện thường nhật mà các em học </strong>
								</li>
								<li>
									<strong>Bước 2: Xây Dựng Kế Hoạch</strong>
									Khi đã hiểu rõ về học sinh, chúng tôi gợi ý và thiết kế một lộ trình chiến lược cá nhân hoá để nâng cao chất lượng học tập, thi cử và các hoạt động ngoại khoá cho từng học sinh. Chúng tôi tập trung vào việc phát triển "Yếu tố nổi bật" nhằm tô đậm sự khác biệt của từng em so với ứng viên cạnh 
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/approach/approach_step_01.jpg" alt="">
						</div>
					</div>
					<div class="approach_box approach_box_02">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Bước 3: Thực Hiện</strong>
									Theo sát kế hoạch và hiện thực hoá mục tiêu luôn là công việc thử thách nhất. Đội ngũ cố vấn sẽ đồng hành với học sinh trong suốt quá trình để động viên, hướng dẫn và thúc đẩy tiến độ làm việc đã đặt ra.  
								</li>
								<li>
									<strong>Bước 4: Nộp Hồ Sơ</strong>
									Đội ngũ cố vấn giàu kinh nghiệm tại Point Avenue hỗ trợ cho các học sinh từ Lớp 8 - 12 để giúp các em nộp hồ sơ vào các trường Nội Trú tại Hoa Kỳ, và các trường Đại học tại Hoa Kỳ, Vương quốc Anh và Canada. Bên cạnh dịch vụ hỗ trợ hồ sơ cơ bản, chúng tôi còn đồng hành với các em học sinh để hoàn thiện và phát triển bản thân, sẵn sàng cho năm hộp hồ sơ thông qua các dịch vụ Cố vấn cá nhân hóa.
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/approach/approach_step_02.jpg" alt="">
						</div>
					</div>
					
				</div>
			</section>
			<section class="results_wrap" id="our-results">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Kết quả tuyển sinh</h3>
					<p class="text">
						Từ năm 2018 đến nay, đội ngũ Tư vấn đã giúp đỡ hàng trăm học sinh từ châu Á và Bắc Mỹ để đạt được kết quả tuyển sinh vào những ngôi trường mà các em không chỉ mong muốn mà còn phù hợp với con người của các em nhất.
					</p>
					<p class="title_r_03" style="margin-top:20px">Tổng số tiền hỗ trợ tài chính & học bổng ~ 500 tỷ VNĐ (22 triệu USD) 
						<a href="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/pdf/2018-2022+Admissions+Consulting+Results+New.pdf" target="_blank" class="btn_type_01" style="vertical-align: middle;">Kết quả tuyển sinh trong 3 năm qua</a></p>
					<div class="row_wrap">
						<p class="title_r_03">Đại Học</p>
						<div class="swipe_type_01_wrap results_swiper_01">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/1. MIT.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/2. harvard-university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/3. princeton-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/4. stanford-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/ucr-education-logo-columbia-university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/6. university-of-cambridge-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/7. London_School_of_Economics.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/8. kings college.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/9. UniversityofPennsylvania.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/10. northwestern-university-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/11. pomona-college.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/12. Duke_University.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/13. UC Berkeley.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/14. UCLA_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/15. Brown_University_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/	16. kisspng-samuel-curtis-johnson-graduate-school-of-managemen-rose-leslie-5ad16be5e30277.2822667115236740859298.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/17. vanderbilt uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/18. kisspng-emory-university-school-of-medicine-goizueta-busin-university-5abe5f22cfa0c4.4346304515224256348505.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/19. Carnegie Mellon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/20. 1200px-Georgia_Tech.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/21. USC.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/22. Davidson_College_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/23. pngjoy.com_scholastic-logo-logo-the-new-school-parsons-paris_10419841.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/24. 1200px-SAIC_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/25. University-of-Michigan-Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/nyu_logo_new_york_university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
					<div class="row_wrap">
						<p class="title_r_03">Trường Nội trú</p>
						<div class="swipe_type_01_wrap results_swiper_02">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/1. Milton Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/2. Groton School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/3. deerfield_academy_FINAL.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/4. Concord Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/5. The Webb Schools.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/6. Taft School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/7. berkshire-school.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/8. St Andrew_s School - DE.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/9. Blair-Academy-1.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/10. Northfield Mount Hernon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/11-POMFRET-SCHOOL.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/12. Westminster School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/13. Williston.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/14. Avon Old Farms School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/15. kimball union.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/16. Tabor Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/17. Canterbury School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/18. Portsmouth-abbey-school-education-boarding-school-student.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/19. The storm king school.jpeg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding+Schools/new/St-Michaels-University-School-Logo-jpg.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="services_wrap" id="our-services">
				<div class="section_inner">
					<p class="title_r_02 section_title">Chi tiết dịch vụ</p>
					<p class="text">Với kiến thức lâu năm và kinh nghiệm lâu năm, đội ngủ cố vấn tại Point Avenue hỗ trợ cho các học sinh từ lớp 8 - 12 để giúp các em đăng ký vào các trường nội trú và Đại học tại Hoa Kỳ, Vương quốc Anh và Canada. Giáo trình giảng dạy toàn diện, tích hợp nền tảng công nghệ cao và đội ngũ những nhà giáo dục tâm huyết, giàu kinh nghiệm của chúng tôi kỳ vọng sẽ giúp các em học sinh đạt được thành công trong học tập và cuộc sống.</p>
					<div class="grid_type_wrap_02">
						<div class="service_box service_box_01">
							<div class="service_img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/our_application_services_01.png" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Gói Dịch vụ Nộp Hồ sơ</p>
								<p class="text">Dành cho các em học sinh năm cuối ở cấp bậc THCS (nộp hồ sơ cho trường nội trú) và cấp bậc THPT (nộp hồ sơ cho các trường ĐH). Dịch vụ bao gồm:
								</p>
								<ul class="ul_type_02">
									<li>Chiến lược Nộp Hồ Sơ</li>
									<li>Chiến lược Thi Chuẩn Hóa</li>
									<li>Lựa chọn Trường & Chuyên ngành</li>
									<li>Xây dựng Hồ sơ Hoạt động Ngoại khóa</li>
									<li>Hướng dẫn viết Bài Luận Cá Nhân và Bài Luận Bổ Sung</li>
									<li>Xây dựng hồ sơ Nghệ thuật</li>
									<li>Hướng dẫn xin Thư giới thiệu</li>
									<li>Tư vấn hồ sơ Hỗ trợ tài chính</li>
									<li>Luyện tập Phỏng vấn</li>
									<li>Hướng dẫn Nhập học</li>
								</ul>
							</div>
						</div>
						<div class="service_box service_box_02">
							<div class="service_img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/our_application_services_02.jpg" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Gói Cố vấn Trung học</p>
								<p class="text">Gói dịch vụ Cố vấn Trung học sẽ được cá nhân hóa cho từng học sinh, đội ngũ Tư vấn sẽ đồng hành và dẫn dắt học sinh trong quá trình, để giúp các em trở thành phiên bản tốt nhất. Dịch vụ bao gồm Gói Dịch vụ Nộp hồ sơ và:</p>
								<ul class="ul_type_02">
									<li>Chiến lược Phát triển Cá nhân hóa</li>
									<li>Tư Vấn Học Thuật</li>
									<li>Hỗ trợ Viết Học Thuật</li>
									<li>Quản lý Thời gian & Công việc</li>
									<li>Phát triển kỹ năng mềm</li>
									<li>Hướng dẫn phát triển Hoạt động ngoại khóa</li>
									<li>Tìm kiếm Cơ hội hoạt động ngoại khóa/Cuộc thi/Chương trình hè</li>
									<li>Hướng dẫn Dự án Độc lập</li>
									<li>Khám phá & Định hướng Nghề nghiệp</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="case_studies_wrap" id="our-students">
				<div class="section_inner">
					<p class="title_r_02 section_title">Học sinh của chúng tôi</p>
					<!-- case-studies 리스트 swiper-->
					<%- include("partials/case-studies-vn") %>
					<div class="swipe_type_02_wrap video_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02">
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe width="100%" height="315" src="https://www.youtube.com/embed/mJLsTMD9I1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F307940117536269%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								
							</ul>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="info_input_wrap">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/wXI8gOLN?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
			
		</div>
		<!--container :: end-->

		
    <%- include("partials/footer-vn") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>