<%- include("partials/head_start") %>

<title>Admissions Consulting - Point Avenue</title>
<meta name="keywords" content="Admissions Consulting, PointAve">
<meta name="title" content="Admissions Consulting - Point Avenue">
<meta property="og:title" content="Admissions Consulting - Point Avenue">

<%- include("partials/common_styles") %>
<%- include("partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/admission-consulting/admission-consulting.js"></script>

<%- include("partials/head_end") %>
<%- include("partials/body_start") %>
<script>
	const studies = <%- JSON.stringify(studies) %>;
</script>
<script>
	const mentors = <%- JSON.stringify(mentors) %>;
</script>
<div class="wrap sub admission_consulting">
  <%- include("partials/gnb") %>
    <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">ADMISSIONS CONSULTING</h2>
						<div class="tab">
							<a href="#our-services">
								<div class="menu-item">Our Services</div>
							</a>
							<a href="#our-results">
								<div class="menu-item">Our Results</div>
							</a>
							<a href="#our-students">
								<div class="menu-item">Our Students</div>
							</a>
							<a href="#our-blog">
								<div class="menu-item">Our Blog</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_wrap">
							<iframe src="https://www.youtube.com/embed/GffbzanqjDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="text_wrap">
							<p class="title_r_02 section_title">What We Do</p>
							<div class="text">
								Our mission is to not only help students gain admissions into their top choice and best-fit schools, it is to develop future global citizens. Citizens that care and contribute to their communities, are confident in themselves, and achieve success with integrity.
								<br><br>College is a stepping stone for the rest of your life. Make sure you make that step with the best version of yourself.
							</div>
							<a href="https://pointavenue1.typeform.com/to/wXI8gOLN" target="_blank" class="btn_type_01--sec"><span>Sign up for a FREE consultation</span></a>
							<a style="margin-top: 1rem;" href="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/pdf/Summer+App+Intensive(1).pdf" target="_blank" class="btn_type_01--sec"><span>College Admissions Intensive Camp</span></a>
						</div>
					</div>
				</div>
			</section>
			<section class="approach_wrap" id="our-approach">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Approach</h3>
					<div class="approach_box">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Step 1: The Relationship</strong>
									Luke Skywalker and Obi-Wan Kenobi. Christian Dior and Yves-Saint Laurent. Socrates and Plato.
									Every great mentorship story starts with a great relationships, and that's where we start. We take the time to understand and empathize with our students--your quirks, interests, passions, dislikes, and more--which becomes the foundation for the future.
								</li>
								<li>
									<strong>Step 2: The Plan</strong>
									Once we understand you, we collaborate on and create a strategically mapped roadmap for testing, projects, and more to maximize your potential and achieve your goals. We'll specifically focus on developing a unique "Stand-Out Factor" special to you, and will differentiate you from the competition.
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/approach/approach_step_01.jpg" alt="">
						</div>
					</div>
					<div class="approach_box approach_box_02">
						<div class="step_list">
							<ul class="ul_type_03">
								<li>
									<strong>Step 3: The Execution</strong>
									Doing is the hardest part, and our team will be with you every step of the way to encourage, guide, and reflect on your progress in making your plan become a reality. At the end of day, you must achieve your goals!
								</li>
								<li>
									<strong>Step 4: The Application</strong>
									From choosing the right schools and programs, supporting you through every essay to preparing you for interviews, our mentorship team will support you with every aspect of the application process.
									If you're wondering how you can pay for your education, we help with that too from finding scholarships to navigating the financial aid process.
								</li>
							</ul>
						</div>
						<div class="img_box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/approach/approach_step_02.jpg" alt="">
						</div>
					</div>
					
				</div>
			</section>
			<section class="results_wrap" id="our-results">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Results</h3>
					<p class="text">
						Since 2018, we have helped hundreds of students from Asia and the United States gain admissions to not only their top-choice, but best-fit boarding schools and universities.
					</p>
					<p class="title_r_03" style="margin-top:20px">Total Financial Aid & Scholarships: 22 million USD 
						<a href="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/pdf/2018-2022+Admissions+Consulting+Results+(1).pdf" target="_blank" class="btn_type_01" style="vertical-align: middle;">See our full results</a></p>
					<div class="row_wrap">
						<p class="title_r_03">Universities</p>
						<div class="swipe_type_01_wrap results_swiper_01">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/1. MIT.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/2. harvard-university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/3. princeton-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/4. stanford-uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/ucr-education-logo-columbia-university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/6. university-of-cambridge-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/7. London_School_of_Economics.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/8. kings college.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/9. UniversityofPennsylvania.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/10. northwestern-university-logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/11. pomona-college.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/12. Duke_University.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/13. UC Berkeley.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/14. UCLA_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/15. Brown_University_Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/	16. kisspng-samuel-curtis-johnson-graduate-school-of-managemen-rose-leslie-5ad16be5e30277.2822667115236740859298.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/17. vanderbilt uni.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/18. kisspng-emory-university-school-of-medicine-goizueta-busin-university-5abe5f22cfa0c4.4346304515224256348505.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/19. Carnegie Mellon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/20. 1200px-Georgia_Tech.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/21. USC.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/22. Davidson_College_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/23. pngjoy.com_scholastic-logo-logo-the-new-school-parsons-paris_10419841.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/24. 1200px-SAIC_logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/25. University-of-Michigan-Logo.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Universities/new/nyu_logo_new_york_university.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
					<div class="row_wrap">
						<p class="title_r_03">Boarding Schools</p>
						<div class="swipe_type_01_wrap results_swiper_02">
							<div class="swiper-container">
								<ul class="swiper-wrapper swipe_type_02 team_list">
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/1. Milton Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/2. Groton School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/3. deerfield_academy_FINAL.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/4. Concord Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/5. The Webb Schools.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/6. Taft School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/7. berkshire-school.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/8. St Andrew_s School - DE.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/9. Blair-Academy-1.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/10. Northfield Mount Hernon.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/11-POMFRET-SCHOOL.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/12. Westminster School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/13. Williston.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/14. Avon Old Farms School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/15. kimball union.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/16. Tabor Academy.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/17. Canterbury School.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/18. Portsmouth-abbey-school-education-boarding-school-student.png" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding Schools/new/19. The storm king school.jpeg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/Boarding+Schools/new/St-Michaels-University-School-Logo-jpg.jpg" alt="">
										</div>
									</li>
									<li class="swiper-slide swipe_type_02--item team_item">
										<div class="swipe_type_02--img team_img">
											<p class="more_text">AND<br>MANY<br>MORE!</p>
										</div>
									</li>
								</ul>

								<!-- If we need navigation buttons -->
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="services_wrap" id="our-services">
				<div class="section_inner">
					<p class="title_r_02 section_title">Our Services</p>
					<p class="text">Our team of experienced mentors work with Grade 8 – 12 students to help them apply for boarding schools in the U.S and undergraduate programs in the US, UK, Canada. While that’s our most basic and essential service, it’s really just the finish line. For students who are looking for more than just guidance on the application process, we help mentor them to arrive at the application process as the best version of themselves through our personalized mentorship services.</p>
					<div class="grid_type_wrap_02">
						<div class="service_box service_box_01">
							<div class="service_img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/our_application_services_01.png" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Application Services</p>
								<p class="text">Our team of experienced mentors work with Grade 8 – 12 students to help them apply to the top universities and boarding schools in the US, UK, Canada and More. Services include:</p>
								<ul class="ul_type_02">
									<li>University & Major Selection</li>
									<li>Activities Profile</li>
									<li>Personal Statement</li>
									<li>Supplemental Essays</li>
									<li>Test Preparation Strategy</li>
									<li>Media Portfolio</li>
									<li>Letter of Recommendation</li>
									<li>Financial Aid Advice</li>
									<li>Interview Preparation</li>
									<li>Matriculation Guidance</li>
								</ul>
							</div>
						</div>
						<div class="service_box service_box_02">
							<div class="service_img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/admission-consulting/our_application_services_02.jpg" alt="">
							</div>
							<div class="service_text_box">
								<p class="title_r_03 section_title_02">Mentorship Services</p>
								<p class="text">For younger students who are looking for more than just guidance on the application process, we coach them to become the best version of themselves through our personalized Mentorship Services. Services include: </p>
								<ul class="ul_type_02">
									<li>Growth Strategy</li>
									<li>Coursework Management</li>
									<li>Academic Writing Support</li>
									<li>Time Management</li>
									<li>Soft Skills Development</li>
									<li>Extracurricular Activity Guidance</li>
									<li>Competitive/Summer Program Sourcing</li>
									<li>Independent Project Guidance</li>
									<li>Career Exploration</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="case_studies_wrap" id="our-students">
				<div class="section_inner">
					<p class="title_r_02 section_title">Our Students</p>
					<!-- case-studies 리스트 swiper-->
					<%- include("partials/case-studies") %>
					<div class="swipe_type_02_wrap video_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02">
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe width="100%" height="315" src="https://www.youtube.com/embed/mJLsTMD9I1M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F307940117536269%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F784724168746194%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F758407668381035%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								<li class="swiper-slide swipe_type_02--item">
									<div class="swipe_type_02--img">
										<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FPointAvenue%2Fvideos%2F1497369360473443%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
									</div>
								</li>
								
							</ul>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="articles_wrap" id="our-blog">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Blog</h3>
					<div class="swipe_type_02_wrap blog_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper box_type_01 courses_list">
							<% 
								const ARTICLE = [490, 491, 492];
								const featuredArticles = [...news].filter(item => item.category === 'Admissions Consulting'); 
								
								function formateDate(d){
									const day = new Date(d),
												year = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(day),
												month = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(day),
												date = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(day);

									return `${date}/${month}/${year}`;
								}
							%>
							<% for ( let i = 0; i < featuredArticles.length; i++){ %> 	
								<% if(featuredArticles[i].type === 'extenal'){ %>
									<li class="box_type_01--item swipe_type_02--item courses_item swiper-slide">
										<div class="video_wrap">
											<iframe src="<%= featuredArticles[i].embedUrl%>" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
										<div class="box_type_01--desc courses_desc_box">
											<p class="title_r_03">
												<a href="<%= featuredArticles[i].realUrl %>"><%- featuredArticles[i].title %></a>
											</p>
											<div class="desc_text">
												<a href="<%= featuredArticles[i].realUrl %>"><%- featuredArticles[i].thumbnail.excerpt %></a>
											</div>
											<a href="<%= featuredArticles[i].realUrl %> " class="btn_type_01--sec">
												<span class="btn_inner">Read More</span>
											</a>
										</div>
									</li>
								<% } else{ %>
									<li class="box_type_01--item swipe_type_02--item courses_item swiper-slide">
										<div class="box_type_01--img courses_img">
											<a href="/news/<%= featuredArticles[i].id %>">
												<img src="<%= featuredArticles[i].thumbnail.imageUrl %>" alt="<%= featuredArticles[i].title %> ">
											</a>
										</div>
										<div class="box_type_01--desc courses_desc_box">
											<p class="title_r_03">
												<a href="/news/<%= featuredArticles[i].id %>"><%- featuredArticles[i].title %></a>
											</p>
											<div class="desc_text">
												<a href="/news/<%= featuredArticles[i].id %>"><%- featuredArticles[i].thumbnail.excerpt %></a>
											</div>
											<a href="/news/<%= featuredArticles[i].id %> " class="btn_type_01--sec">
												<span class="btn_inner">Read More</span>
											</a>
										</div>
									</li>
								<% } %> 
							<% } %> 
							</ul>
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
					<a href="/news/list/articles" class="btn_type_01 view">
						<span class="btn_inner">View All</span>
					</a>
				</div>
			</section>
			<section class="info_input_wrap">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/wXI8gOLN?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
			
		</div>
		<!--container :: end-->

		
    <%- include("partials/footer") %>
		<%- include("partials/common_popup") %>
</div>
<%- include("partials/body_end") %>