<%- include("partials/head_start") %>
	<title>Careers - Point Avenue</title>

	<%- include("partials/common_styles") %>
		<%- include("partials/common_scripts") %>
			<script language="JavaScript" type="text/javascript" src="/js/sub/point-avenue/careers.js"></script>
			<%- include("partials/head_end") %>
				<%- include("partials/body_start") %>
					<div class="wrap sub careers">
						<%- include("partials/gnb") %>
							<!-- container :: start -->
							<div class="container">
								<section class="visual_wrap">
									<div class="section_inner">
										<div class="text_box">
											<h2 class="title_r_01">CAREERS</h2>
										</div>
									</div>
								</section>
								<section class="offer_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">What We Offer</h3>
										<div class="offer_list">
											<ul>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_01.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Covered<br>Work Permit</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_02.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Transition &<br>Housing Support*</p>
														<p class="comment">*Case by Case</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_03.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Competitive<br>Salary</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_04.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Premium<br>Health Insurance</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_05.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Free Gym<br>Membership</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_06.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Stable 2-year<br>Contract*</p>
														<p class="comment">*Case by Case</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_07.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">22+ days of<br>Paid Leave</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_08.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Impact - Driven<br>Culture</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</section>
								<!-- <section class="open_position_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Opening Positions</h3>
					<div class="box_type_02_wrap">
						<ul class="box_type_02">
							<li class="box_type_02--item">
								<span class="flag_type_01">Urgent</span>
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Cau Giay Center</p>
									<p class="title_r_03">Elementary Teacher</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Experienced (non-manager)</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<span class="flag_type_01">New</span>
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAT] Bangkok Center</p>
									<p class="title_r_03">Course Consultant</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Experienced (non-manager)</p>
									<p>Deadline: 02/04/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Lorem Ipsum</p>
									<p class="title_r_03">Lorem Ipsum</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Lorem Ipsum Dolot Si Amet</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Lorem Ipsum</p>
									<p class="title_r_03">Lorem Ipsum</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Lorem Ipsum Dolot Si Amet</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
						</ul>
						<a href="#" class="btn_type_01 view all">
							<span class="btn_inner">View All</span>
						</a>
					</div>
				</div>
			</section> -->
								<section class="process_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Recruitment Process</h3>
										<div class="process_step_wrap">
											<div class="swiper-container">
												<ul class="swiper-wrapper process_step_list">
													<li class="swiper-slide process_step_item">
														<div class="step">Step 1: Application</div>
														<div class="tooltip_box">
															<p class="title_r_01">01.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Application</p>
																<p class="text">Submit your CV and cover letter</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_01.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Step 2: Interview</div>
														<div class="tooltip_box">
															<p class="title_r_01">02.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Interview</p>
																<p class="text">Attend interview with our recruiters and
																	hiring managers</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_02.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Step 3: Results</div>
														<div class="tooltip_box">
															<p class="title_r_01">03.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Results</p>
																<p class="text">Receive an offer</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_03.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Step 4: Contract</div>
														<div class="tooltip_box">
															<p class="title_r_01">04.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Contract</p>
																<p class="text">Sign employment contract</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_04.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Step 5: Relocation</div>
														<div class="tooltip_box">
															<p class="title_r_01">05.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Relocation & on-boarding</p>
																<p class="text">Relocate and get ready to start</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_05.png"
																alt="">
														</div>
													</li>
												</ul>
												<div class="swiper-pagination"></div>
											</div>
										</div>
									</div>
								</section>
								<!-- <section class="members_say_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">What Our Team Members Say</h3>
					<div class="swipe_type_01_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
							</ul>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			 -->

							</div>
							<!--container :: end-->
							<%- include("partials/footer") %>
								<%- include("partials/common_popup") %>
					</div>
					<%- include("partials/body_end") %>