<%- include("partials/head_start") %>
	<title>Tuyển dụng - Point Avenue</title>

	<%- include("partials/common_styles_vn") %>
		<%- include("partials/common_scripts") %>
			<script language="JavaScript" type="text/javascript" src="/js/sub/point-avenue/careers.js"></script>
			<%- include("partials/head_end") %>
				<%- include("partials/body_start") %>
					<div class="wrap sub careers">
						<%- include("partials/gnb-vn") %>
							<!-- container :: start -->
							<div class="container">
								<section class="visual_wrap">
									<div class="section_inner">
										<div class="text_box">
											<h2 class="title_r_01">Tuyển dụng</h2>
										</div>
									</div>
								</section>
								<section class="offer_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Chúng tôi cung cấp những gì cho nhân viên?
										</h3>
										<div class="offer_list">
											<ul>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_01.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Tài trợ giấy phép </br>lao động</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_02.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Hỗ trợ quá trình di chuyển và Nhà ở</p>
														<p class="comment">Từng trường hợp</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_03.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Lương cạnh tranh</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_04.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Bảo hiểm y tế cao cấp</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_05.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Phòng tập gym <br>miễn phí</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_06.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Hợp đồng 2 năm <br>ổn định</p>
														<p class="comment">Từng trường hợp</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_07.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">22+ ngày nghỉ phép có lương</p>
													</div>
												</li>
												<li>
													<div class="offer_icon_box">
														<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/career_icon_08.png"
															alt="">
													</div>
													<div class="text_box">
														<p class="title_r_03">Văn hoá công ty tập trung tích cực</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</section>
								<!-- <section class="open_position_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Opening Positions</h3>
					<div class="box_type_02_wrap">
						<ul class="box_type_02">
							<li class="box_type_02--item">
								<span class="flag_type_01">Urgent</span>
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Cau Giay Center</p>
									<p class="title_r_03">Elementary Teacher</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Experienced (non-manager)</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<span class="flag_type_01">New</span>
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAT] Bangkok Center</p>
									<p class="title_r_03">Course Consultant</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Experienced (non-manager)</p>
									<p>Deadline: 02/04/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Lorem Ipsum</p>
									<p class="title_r_03">Lorem Ipsum</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Lorem Ipsum Dolot Si Amet</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
							<li class="box_type_02--item">
								<div class="box_type_02--title position_title">
									<p class="text--gray">[PAV] Lorem Ipsum</p>
									<p class="title_r_03">Lorem Ipsum</p>
								</div>
								<div class="box_type_02--cont position_cont">
									<p>Lorem Ipsum Dolot Si Amet</p>
									<p>Deadline: 01/03/2021</p>
								</div>
								<a href="#" class="btn_type_01 yellow view">Learn More</a>
							</li>
						</ul>
						<a href="#" class="btn_type_01 view all">
							<span class="btn_inner">View All</span>
						</a>
					</div>
				</div>
			</section> -->
								<section class="process_wrap">
									<div class="section_inner">
										<h3 class="title_r_02 section_title">Quy trình tuyển dụng</h3>
										<div class="process_step_wrap">
											<div class="swiper-container">
												<ul class="swiper-wrapper process_step_list">
													<li class="swiper-slide process_step_item">
														<div class="step">Bước 1: Ứng tuyển</div>
														<div class="tooltip_box">
															<p class="title_r_01">01.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Ứng tuyển</p>
																<p class="text">Gửi CV và thư xin việc của bạn</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_01.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Bước 2: Phỏng vấn</div>
														<div class="tooltip_box">
															<p class="title_r_01">02.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Phỏng vấn</p>
																<p class="text">Tham dự các cuộc phỏng vấn trực tiếp với
																	các nhân viên tuyển dụng và quản lý của chúng tôi
																</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_02.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Bước 3: Kết quả</div>
														<div class="tooltip_box">
															<p class="title_r_01">03.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Kết quả</p>
																<p class="text">Nhận kết quả từ chúng tôi nếu bạn được
																	chọn</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_03.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Bước 4: Hợp đồng</div>
														<div class="tooltip_box">
															<p class="title_r_01">04.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Hợp đồng</p>
																<p class="text">Ký hợp đồng với chúng tôi</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_04.png"
																alt="">
														</div>
													</li>
													<li class="swiper-slide process_step_item">
														<div class="step">Bước 5: Di chuyển</div>
														<div class="tooltip_box">
															<p class="title_r_01">05.</p>
															<div class="desc_box">
																<p class="title_r_03 title">Di chuyển và <br>chuẩn bị đi
																	làm</p>
																<p class="text">Di chuyển đến các địa điểm của chúng tôi
																	tại Việt Nam hoặc Thái Lan</p>
															</div>
														</div>
														<div class="icon_box">
															<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/point-avenue/careers/process_05.png"
																alt="">
														</div>
													</li>
												</ul>
												<div class="swiper-pagination"></div>
											</div>
										</div>
									</div>
								</section>
								<!-- <section class="members_say_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">What Our Team Members Say</h3>
					<div class="swipe_type_01_wrap">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="#">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png" alt="">
										</div>
									</a>
								</li>
							</ul>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div>
				</div>
			</section>
			 -->

							</div>
							<!--container :: end-->
							<%- include("partials/footer-vn") %>
								<%- include("partials/common_popup") %>
					</div>
					<%- include("partials/body_end") %>