<%- include("partials/head_start") %>
  <title>
    Point Avenue – Sáng lập bởi Cựu sinh viên West Point – Học Anh Ngữ, Trại Hè,
    Tư vấn Du học với 100% cố vấn nước ngoài.
  </title>
  <meta name="keywords"
    content="Proven Teaching Stratgies, Point Avenue, Sáng lập bởi Cựu sinh viên West Point – Học Anh Ngữ, Trại Hè, Tư vấn Du học với 100% cố vấn nước ngoài." />
  <meta name="title" content="Point Avenue" />
  <meta name="description"
    content="Founded by West Point graduates, Point Avenue aspires to help students achieve academic and lifelong success. Make sure you make that step with the best version of yourself." />
  <meta property="og:title" content="Home - Point Avenue" />
  <!-- Social media Meta tag-->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Home - Point Avenue" />
  <meta property="og:description"
    content="Founded by West Point graduates, Point Avenue aspires to help students achieve academic and lifelong success. Make sure you make that step with the best version of yourself." />
  <meta property="og:image"
    content="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/visual.png" />
  <meta property="og:url" content="https://www.pointavenue.com/" />

  <meta property="twitter:title" content="Home - Point Avenue" />
  <meta property="twitter:description"
    content="Founded by West Point graduates, Point Avenue aspires to help students achieve academic and lifelong success. Make sure you make that step with the best version of yourself." />
  <meta property="twitter:image"
    content="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/visual.png" />

  <%- include("partials/common_styles") %>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <%- include("partials/common_scripts") %>

      <script language="JavaScript" type="text/javascript" src="/js/main.js"></script>
      <%- include("partials/head_end") %> <%- include("partials/body_start") %>
          <div class="wrap main">
            <%- include("partials/gnb") %>
              <!-- container :: start -->
              <div class="container">
                <section class="main_visual_wrap">
                  <div class="swiper-container main_visual">
                    <ul class="swiper-wrapper">
                      <!-- <li class="swiper-slide">
            <div class="bg_img_box">
              <img
                src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/visual.png"
                alt=""
              />
            </div>
            <div class="text_box">
              <div class="text_box_inner">
                <p class="title_r_01 main_visu_tit">
                  PROVEN TEACHING<br />STRATEGIES
                </p>
                <p class="main_visu_desc">
                  Resulting in top standardized test scores and university
                  acceptances
                </p>
                <a
                  href="https://pointavenue1.typeform.com/to/S4Syuo"
                  target="_blank"
                  class="main_visu_more_btn"
                  >Take a FREE Diagnostic Test</a
                >
              </div>
            </div>
          </li> -->
                      <li class="swiper-slide swiper-slide_01">
                        <div class="bg_img_box">
                          <a href="https://www.pointavenue.asia/summer-camp-2025">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/website/2025/Website+banner-SLC.jpg"
                              alt="" />
                          </a>
                          <a href="https://www.pointavenue.asia/summer-camp-2025" class="main_slide_02_visu_more_btn"
                            target="_blank">Learn more</a>
                        </div>
                      </li>
                      <li class="swiper-slide swiper-slide_01">
                        <div class="bg_img_box">
                          <a href="https://www.pointavenue.asia/summer-day-camp-2025">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/website/2025/Website+banner_SDC.jpg"
                              alt="" />
                          </a>
                          <a href="https://www.pointavenue.asia/summer-day-camp-2025" class="main_slide_02_visu_more_btn"
                            target="_blank">Learn more</a>
                        </div>
                      </li>
                      <li class="swiper-slide swiper-slide_01">
                        <div class="bg_img_box">
                          <a href="https://www.pointavenue.asia/debate-summer-camp-2025">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/website/2025/Website+banner_Debate+SC.jpg"
                              alt="" />
                          </a>
                          <a href="https://www.pointavenue.asia/debate-summer-camp-2025" class="main_slide_02_visu_more_btn"
                            target="_blank">Learn more</a>
                        </div>
                      </li>
                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>
                  </div>
                </section>
                <section class="step_wrap">
                  <div class="section_inner">
                    <ul class="person_list">
                      <li class="person_item">
                        <div class="person_img">
                          <img
                            src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/step_01.png"
                            alt="" />
                        </div>
                        <div class="person_desc_box">
                          <a href="/programs/elementary-courses" class="person_desc_inner">
                            <span class="school">Elementary</span>
                            <span class="age">Ages 5-10</span>
                          </a>
                        </div>
                      </li>
                      <li class="person_item">
                        <div class="person_img">
                          <img
                            src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/step_02.png"
                            alt="" />
                        </div>
                        <div class="person_desc_box">
                          <a href="/programs/middle-school-courses" class="person_desc_inner">
                            <span class="school">Middle School</span>
                            <span class="age">Ages 11-15</span>
                          </a>
                        </div>
                      </li>
                      <li class="person_item">
                        <div class="person_img">
                          <img
                            src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/step_03.png"
                            alt="" />
                        </div>
                        <div class="person_desc_box">
                          <a href="/programs/test-preparation-courses" class="person_desc_inner">
                            <span class="school">Test Prep</span>
                          </a>
                        </div>
                      </li>
                      <li class="person_item">
                        <div class="person_img">
                          <img
                            src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/step_04.png"
                            alt="" />
                        </div>
                        <div class="person_desc_box">
                          <a href="/admissions-consulting" class="person_desc_inner">
                            <span class="school">Admissions<br />Consulting</span>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </section>
                <section class="courses_wrap">
                  <div class="section_inner">
                    <h3 class="title_r_02 section_title">Featured Courses</h3>
                    <ul class="box_type_01 courses_list">
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/english-learning">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/English_Learning_1-4_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03">
                            <a href="/programs/english-learning">English Learning 1-4</a>
                          </p>
                          <div class="desc_text">
                            An engaging English program for children aligned with Common
                            Core standards to maximize the children's learning and
                            development
                          </div>
                          <a href="/programs/english-learning" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/ela-foundations">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/ELA_Foundations_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03">
                            <a href="/programs/ela-foundations">English Language Arts Foundations
                            </a>
                          </p>
                          <div class="desc_text">
                            Providing English academic rigor and soft skills to better
                            prepare students for lifelong learning and growth
                          </div>
                          <a href="/programs/ela-foundations" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/elem-life-coaching-intermediate">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/Life_Coaching_Beginner_Intermediate_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03">
                            <a href="/programs/elem-life-coaching-intermediate">Life Coaching Intermediate</a>
                          </p>
                          <div class="desc_text">
                            Focuses on leadership development, life coaching, skills
                            development, and goal setting; taught by experienced mentors
                          </div>
                          <a href="/programs/elem-life-coaching-intermediate" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/IELTS">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/IELTS_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03"><a href="/programs/IELTS">IELTS</a></p>
                          <div class="desc_text">
                            Master the four critical English skills and enhance your score
                            with our IELTS experts
                          </div>
                          <a href="/programs/IELTS" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/SAT">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/SAT_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03"><a href="/programs/SAT">SAT</a></p>
                          <div class="desc_text">
                            Enhance your quantitative and qualitative knowledge skills and
                            learn proven test-taking strategies and tips to maximize your
                            SAT score
                          </div>
                          <a href="/programs/SAT" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                      <li class="box_type_01--item courses_item">
                        <div class="box_type_01--img courses_img">
                          <a href="/programs/mshs-debate-beginner">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/courses/Middle_School_Beginner_1.jpg"
                              alt="" />
                          </a>
                        </div>
                        <div class="box_type_01--desc courses_desc_box">
                          <p class="title_r_03">
                            <a href="/programs/mshs-debate-beginner">Middle & High School Debate (Beginner)</a>
                          </p>
                          <div class="desc_text">
                            Competitive debate coaching provided by world-class mentors and
                            champion debaters
                          </div>
                          <a href="/programs/mshs-debate-beginner" class="btn_type_01--sec">
                            <span class="btn_inner">Learn More</span>
                          </a>
                        </div>
                      </li>
                    </ul>
                    <div class="btn_box--right">
                      <a href="/programs/all-courses" class="btn_type_02">BROWSE ALL CLASSES</a>
                    </div>
                  </div>
                </section>

                <section class="works_wrap">
                  <div class="section_inner">
                    <h3 class="title_r_02 section_title">What We Offer</h3>
                    <div class="works_cont">
                      <ul class="works_list">
                        <li class="works_item">
                          <div class="works_icon">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/works_01.png"
                              alt="" />
                          </div>
                          <p class="title_r_03 works_text">World Class<br />Mentors</p>
                        </li>
                        <li class="works_item">
                          <div class="works_icon">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/works_02.png"
                              alt="" />
                          </div>
                          <p class="title_r_03 works_text">Proven<br />Results</p>
                        </li>
                        <li class="works_item">
                          <div class="works_icon">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/works_03.png"
                              alt="" />
                          </div>
                          <p class="title_r_03 works_text">
                            Inquiry-Based Learning<br />Education Philosophy
                          </p>
                        </li>
                        <li class="works_item">
                          <div class="works_icon">
                            <img
                              src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/main/works_04.png"
                              alt="" />
                          </div>
                          <p class="title_r_03 works_text">Personalized<br />Learning</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section class="classroom_wrap">
                  <div class="section_inner">
                    <div class="video_wrap">
                      <iframe src="https://www.youtube.com/embed/5anu6ZkSirQ" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="classroom_desc_box">
                      <h3 class="title_r_02 section_title">Our Learning Centers</h3>
                      <p class="text--gray">
                        Our classrooms are air-conditioned and heated, and are equipped with
                        networked computers, projectors and interactive boards that best
                        support the learning process. Our class size is small with only 8-12
                        students, which provides students with plenty of opportunities to
                        receive 1-on-1 mentorship. <br /><br />
                        We create a fun, engaging, and creative learning environment through
                        several interactive activities. Students are also encouraged to use
                        our libraries, play ground and gyms beyond class hours for leisure
                        and personal development.
                      </p>
                    </div>
                  </div>
                </section>
                <section class="results_wrap">
                  <div class="section_inner">
                    <h3 class="title_r_02 section_title">Our Results</h3>
                    <p class="text--gray">
                      We are dedicated to helping each and every one of our students reach
                      their personal study goals, and more importantly to develop their
                      courage and confidence, to believe in themselves and pursue their
                      dreams, to achieve the kind of meaningful success that is earned
                      through hard work, and to become leaders with vision and strong values
                      in their communities.
                    </p>
                    <div class="results_box">
                      <ul class="results_list">
                        <li class="results_item">
                          <div class="results_figure">
                            <strong class="title_r_00">97%</strong>
                            <p class="title_r_03">Admissions Rate</p>
                          </div>
                          <p class="text">
                            Our students gain acceptance to their Top-3 choice schools
                          </p>
                        </li>
                        <li class="results_item">
                          <div class="results_figure">
                            <strong class="title_r_00">200</strong>
                            <p class="title_r_03">Students</p>
                          </div>
                          <p class="text">Who scored 1560+ on SAT (1% globally)</p>
                        </li>
                        <li class="results_item">
                          <div class="results_figure">
                            <strong class="title_r_00">80%</strong>
                            <p class="title_r_03">Students</p>
                          </div>
                          <p class="text">Who scored between 7.0 – 8.0 on IELTS</p>
                        </li>
                        <li class="results_item">
                          <div class="results_figure">
                            <strong class="title_r_00">22 <span>Million USD</span></strong>
                          </div>
                          <p class="text" style="margin-top: 25px">
                            In total financial aid and scholarships
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>

                <section class="sing_up_test_wrap">
                  <div class="typeform-widget"
                    data-url="https://form.typeform.com/to/euBzBBld?typeform-medium=embed-snippet"
                    style="width: 100%; height: 500px"></div>
                  <script>
                    (function () {
                      var qs,
                        js,
                        q,
                        s,
                        d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = 'typef_orm',
                        b = 'https://embed.typeform.com/';
                      if (!gi.call(d, id)) {
                        js = ce.call(d, 'script');
                        js.id = id;
                        js.src = b + 'embed.js';
                        q = gt.call(d, 'script')[0];
                        q.parentNode.insertBefore(js, q);
                      }
                    })();
                  </script>
                </section>

                <section class="news_wrap">
                  <div class="section_inner">
                    <h3 class="title_r_02 section_title">Latest News</h3>
                    <div class="swiper-container">
                      <ul class="swiper-wrapper box_type_01 news_list">
                        <% for ( let i=0; i < 3; i++ ) { %>
                          <li class="swiper-slide box_type_01--item news_item">
                            <div class="box_type_01--img news_img">
                              <a href="/news/<%= news[i].id %>">
                                <img src="<%=  news[i].thumbnail.imageUrl %>" alt="<%= news[i].title %>" />
                              </a>
                            </div>
                            <div class="box_type_01--desc news_desc_box">
                              <p class="title_r_03">
                                <a href="/news/<%= news[i].id %>">
                                  <%= news[i].title %>
                                </a>
                              </p>
                              <div class="desc_text">
                                <a href="/news/<%= news[i].id %>"><%- news[i].thumbnail.excerpt %></a>
                              </div>
                              <a href="/news/<%= news[i].id %>" class="btn_type_01--sec">
                                <span class="btn_inner">Learn More</span>
                              </a>
                            </div>
                          </li>
                          <% } %>
                      </ul>
                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>
                    </div>
                    <div class="btn_box--right">
                      <a href="/news" class="btn_type_02">BROWSE ALL NEWS</a>
                    </div>
                  </div>
                </section>
              </div>
              <!--container :: end-->
              <%- include("partials/footer") %> <%- include("partials/common_popup") %>
          </div>
          <%- include("partials/body_end") %>