<%- include("../partials/head_start") %>
<title>Grit Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Grit, Point Avenue">
<meta name="title" content="Grit - Point Avenue">
<meta property="og:title" content="Grit - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer grit">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<div style="padding:56.25% 0 0 0;position:relative;">
					<iframe src="https://player.vimeo.com/video/766328808?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
				</div>
				<div class="shadow-top"></div>
				<div class="shadow-bottom"></div>
				<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">GRIT CAMP</p>
					<div class="camp">
						<span class="label">PREPARATION FOR LIFE</span>
						<!-- <img class="img" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/YT_logo.png" alt=""> -->
					</div>
					<!-- <p class="description">
						Led by experienced life coaches and mentors graduating from West Point, Cambridge and American Ivy League, GRIT Camp - Preparation for Life helps young people develop mental, physical, and emotional resilience through field and outdoor experiences. For 36 hours straight, students will be able to persever and overcome challenges, earning valuable lessons to carry throughout their life.
					</p> -->
					<ul>
						<li>36 hours of hands-on experience in the wilderness.</li>
						<li>4 years of the internal implementation of the international school system.</li>
						<li>Open for all students to participate for the first time</li>
					</ul>
					<div class="note">
						Camp for 9 - 16 years old (G4 - G10)
					</div>
					<a href="#register">
						<p class="read-more">
							<span>LEARN </span>
							<span class="button-hover">MORE</span>
						</p>
					</a>
				</div>
				<div class="menu">
					<div class="menu-item">Point Avenue</div>
					<a href="#core-values">
						<div class="menu-item">Core values</div>
					</a>
					<a href="#mentor">
						<div class="menu-item">Mentors</div>
					</a>
					<a href="#date-localtions">
						<div class="menu-item">Date & localtions</div>
					</a>
					<a href="#experience">
						<div class="menu-item">Experience</div>
					</a>
				</div>
				
			</section>
			<div class="main">
				<section class="campaign" id="core-values">
					<div class="block-1">
						<p>
							<span>CORE VALUES</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-camp"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-camp"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/S__13713464.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC01946.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02195.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="block-description">
							<ul>
								<li><b>Become Your Best Self:</b> through challenging fields and outdoor experiences</li>
								<li><b>Where Nature is Our Classroom:</b> experiential learning through hiking and survival skills training</li>
								<li><b>Build Healthy Habits:</b> discipline equals freedom</li>
								<li><b>Safety First:</b> taught and reinforced with each interaction</li>
							</ul>
							<div class="swiper mySwiperMobile">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/S__13713464.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC01946.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02195.jpg" alt="">
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						<a href="#register">
							<p class="read-more">
								<span>REGISTER </span>
								<span class="button-hover">NOW</span>
							</p>
						</a>
						</div>
					</div>
				</section>
				<section class="mentor" id="mentor">
					<div class="block-1">
						<p>
							OUR ELITE <span>MENTORS</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-mentor"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-mentor"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="team_wrap">
							<div class="section_inner">
							<div class="swipe_type_01_wrap">
								<div class="swiper mySwiperMentors">
									<div class="swiper-wrapper">
										<% for ( let i = 0; i < teamMembers.length; i++) { %>
											<div class="swiper-slide">
												<div class="swipe_type_01--img team_img">
													<div class="img_box">
														<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>" class="<%= teamMembers[i].key %>">
													</div>
												</div>
												<div class="swipe_type_01--desc team_desc_box">
													<div class="bg"></div>
													<div class="info">
														<p class="name"><%= teamMembers[i].name %></p>
														<div class="position"><%= teamMembers[i].position %></div>
														<div class="ex"><%= teamMembers[i].desc %></div>
													</div>
												</div>
											</div>
										<% } %>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
						
						</div>
						<div class="block-description">
							<p>
								Accompanying the campers is a team of mentors with 25 years of experience organizing Boarding & Day Camps, graduating from West Point, Harvard, Cambridge, and UPenn,...
							</p>
						</div>
					</div>
				</section>
				<section class="offer" id="date-localtions">
					<div class="block-1">
						<p class="title"><span>DATE & LOCALTIONS</span></p>
					</div>
					<div class="block-2">
						<div class="block-pc">
							<div class="box-text">
								<p class="title">Location</p>
								<span class="content-grit">Cuc Phuong National Park</span>
							</div>
							<div class="bg">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/6e.jpg" style="max-width: 950px">
								<div class="box-content" style="flex: 1">
									<!-- <div class="box-1">
										<p class="text-offer text-thin">Dates</p>
										<p class="text-offer text-bold">10% OFF by October 30th, 2022</p>
									</div>
									<div class="box-2">
										<p class="text-offer text-thin">DISCOUNT OF</p>
										<p class="text-offer text-bold">15%</p>
										<p class="text-offer text-thin">FOR GROUP OF</p>
										<p class="text-offer text-bold">11+ CAMPERS</p>
									</div> -->
									<ul>
										<li style="opacity: 0.6">GRIT Camp #1: Sat, 19 Nov - Sun, 20 Nov.  Depart on Saturday early morning and return by Sunday evening.</li>
										<li>GRIT Camp #2: Sat, 10 Dec - Sun, 11 Dec.  Depart on Saturday early morning and return by Sunday evening.</li>
										<li>GRIT Camp #3: Sat, 07 Lan - Sun, 08 Jan.  Depart on Saturday early morning and return by Sunday evening</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="block-mobile">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/6e.jpg">
							<div class="content">
								<div class="left">
									<p class="text-offer text-thin">Location</p>
										<p class="text-offer text-bold">Cuc Phuong National Park</p>
								</div>
								<div class="right">
									<p class="text-thin">Date</p>
									<ul>
										<li style="opacity: 0.6">GRIT Camp #1: Sat, 19 Nov - Sun, 20 Nov.  Depart on Saturday early morning and return by Sunday evening.</li>
										<li>GRIT Camp #2: Sat, 10 Dec - Sun, 11 Dec.  Depart on Saturday early morning and return by Sunday evening.</li>
										<li>GRIT Camp #3: Sat, 07 Lan - Sun, 08 Jan.  Depart on Saturday early morning and return by Sunday evening</li>
									</ul>
								</div>
							</div>
							<div class="background"></div>
						</div>
					</div>
				</section>
				<section class="experience" id="experience">
					<div class="block-1">
						<p>
							WHAT CAMPERS WILL
							<span>EXPERIENCE</span>
						</p>
						<div class="swiper mySwiperExperience">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC_5496.psd_1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_326.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_558.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02062.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02217.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<!-- <div class="swiper mySwiperExperienceMobile">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC_5496.psd_1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_326.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_558.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02062.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02217.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div> -->
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-ex"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-ex"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<!-- <div class="block-2">
						<div class="boxDetail">
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">Genuine outdoor natural environment</p>
								</div>
								<div class="blockDescription">
									<ul>
										<li>Hike in Nature</li>
										<li>Land Navigation</li>
										<li>Survival Skills</li>
										<li>Camping and Tent Building</li>
										<li>How to Build a Fire</li>
										<li>Bamboo Rafting to Cross a River</li>
									</ul>
								</div>
							</div>
						</div>
					</div> -->
					<div class="block-2">
						<div class="boxDetail">
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">HIKE IN NATURE</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" alt="" class="icon-pc">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png"  class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Campers will be trained in climbing skills in Cuc Phuong National Forest, developing physical strength and endurance.
										</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">SURVIVAL NAVIGATION</p>
									<div class="ic-academic"></div>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Learn all survival skills in the wild: Finding and preparing food, preventing drowning, and dealing with injuries,...
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">LAND NAVIGATION</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Map reading and compass tracing are skill sets that will be detailed to help children stay safe in an emergency.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">CAMPING AND TENT BUILDING</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Develop independent skills and effective teamwork.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">HOW TO BUILD A FIRE</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Fire is a vital element in the journey to discover nature, so building a fire is an essential skill for campers.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">BAMBOO RAFTING TO CROSS A RIVER</p>
									<img style="width: 4rem;height: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										The bamboo raft crossing challenge is the ultimate lesson in perfecting all the skills learned at Grit Camp.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="timeline" id="timeline">
					<div class="block-1">
						<p class="title">
							<span>CAMP SCHEDULE</span>
						</p>
					</div>
					<div class="block-2">
						<div class="day-1">
							<div class="header">
								<p class="label">Day 1</p>
							</div>
							<div class="timeline-block" style="margin-top: 12rem">
								<div class="ic-next timeline-pc">
									<div class="box-timeline box-timeline-1">
										<span>07.00</span>
										<span class="desc">Departure to Cuc Phuong National Park</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-2">
										<span>10.00</span>
										<span class="desc">Check in the Park</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-3">
										<span>10.30</span>
										<span class="desc">2 teams start hiking on 2 different routes</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-4">
										<span>12.00</span>
										<span class="desc">Picnic Lunch</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-5">
										<span>16.00</span>
										<span class="desc">2 teams meet up at the camping site and start to build tents</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-6">
										<span>20.00</span>
										<span class="desc">Night spotting</span>
										<div class="line"></div>
									</div>
								</div>
							</div>
							<div class="timeline-mobile">
								<div class="line"></div>
								<div class="div-timeline">
									<div class="box">
										<span class="time">07.00</span>
										<span class="desc">Departure to Cuc Phuong National Park</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span>10.00</span>
										<span class="desc">Check in the Park</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span>10.30</span>
										<span class="desc">2 teams start hiking on 2 different routes</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">12.00</span>
										<span class="desc">Picnic Lunch</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">16.00</span>
										<span class="desc">2 teams meet up at the camping site and start to build tents</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">20.00</span>
										<span class="desc">Night spotting</span>
										<div class="line-box"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="day-2">
							<div class="header">
								<p class="label">Day 2</p>
							</div>
							<div class="timeline-block" style="margin-top: 12rem">
								<div class="ic-next timeline-pc">
									<div class="box-timeline box-timeline-1">
										<span>06.00</span>
										<span class="desc">Wake up and do morning exercise</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-2">
										<span>07.00</span>
										<span class="desc">Have breakfast (self-made)</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-3">
										<span>10.00</span>
										<span class="desc">Hike back to the pickup area of the park</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-4">
										<span>12.00</span>
										<span class="desc">Lunch at Mac Lake area then depart to Hoang Long River</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-5">
										<span>14.00 - 17.00</span>
										<span class="desc">Bamboo rafting to cross river</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-6">
										<span>17.30 - 20.00</span>
										<span class="desc">Depart to Hanoi</span>
										<div class="line"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="timeline-mobile">
							<div class="line"></div>
							<div class="div-timeline">
								<div class="box">
									<span class="time">06.00</span>
									<span class="desc">Wake up and do morning exercise</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>07.00</span>
									<span class="desc">Have breakfast (self-made)</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>10.00</span>
									<span class="desc">Hike back to the pickup area of the park</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">12.00</span>
									<span class="desc">Lunch at Mac Lake area then depart to Hoang Long River</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">14.00 - 15.00</span>
									<span class="desc">Bamboo rafting to cross river</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">17.30 - 20.00</span>
									<span class="desc">Depart to Hanoi</span>
									<div class="line-box"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="timeline" id="timeline">
					<div class="block-1">
						<p class="title">
							<span>Grit Camp’s Experience in 2022</span>
						</p>
					</div>
					<div class="block-2">
						<div style="padding:56.25% 0 0 0;position:relative;">
							<iframe src="https://player.vimeo.com/video/778764441?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
						</div>
					</div>
				</section>
				<!-- <section class="campaign" id="price">
					<div class="block-1">
						<p>
							<span>PRICE INCLUDE</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-price"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-price"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="swiper mySwiperPrice">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/A7408937.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05106.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/IMG_6664.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05311.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/elijah-chen-EWFUHJpIZr8-unsplash.jpeg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/insurance.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="block-description">
							<ul>
								<li><b>Tour guide</b></li>
								<li><b>Food/ Water/ Snacks</b></li>
								<li><b>Transportation</b></li>
								<li><b>Survival kits</b></li>
								<li><b>Permit/Park rangers</b></li>
								<li><b>Insurance</b></li>
							</ul>
							<div class="swiper mySwiperPriceMobile">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/A7408937.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05106.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/IMG_6664.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05311.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/elijah-chen-EWFUHJpIZr8-unsplash.jpeg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/insurance.jpg" alt="">
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						<a href="#register">
							<p class="read-more">
								<span>REGISTER </span>
								<span class="button-hover">NOW</span>
							</p>
						</a>
						</div>
					</div>
				</section> -->
				<section class="register" id="register">

				<div class="register-logo">
					<div class="logo-title">
						<p class="title"> LIMITED SPACES
						</p>
						<span>
							REGISTER NOW	
						</span>
					</div>
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/bg_register.jpg">
				</div>		
				<div class="register-container">
					<form id="register-form" class="register-form" method="POST" action="/camp/grit-camp">
						<input class="form-control" placeholder="First Name*" id="firstName" name="firstName" required>
						<input class="form-control" placeholder="Last Name*"  id="lastName" name="lastName" required>
						<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
						<input class="form-control" placeholder="Mobile Number*"  id="phoneNumber" name="phoneNumber">
						<input class="form-control" placeholder="Your Child Name"  id="childName" name="childName">
						<input class="form-control" placeholder="Student's Grade & School*"  id="grade" name="grade" required>
						<button class="read-more" type="submit" onclick="submitForm()">
							<span>Sign</span>
							<span class="button-hover">Up</span>
						</button>
					</form>
				<div>			
				</section>
			</div>

			
			<%- include("../partials/common_popup") %>

		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
    <%- include("../partials/footer") %>
</div>
    <%- include("../partials/body_end") %>