<%- include("../partials/head_start") %>
<title>Grit Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Grit, Point Avenue">
<meta name="title" content="Grit - Point Avenue">
<meta property="og:title" content="Grit - Point Avenue">

<%- include("../partials/common_styles_vn") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer grit">
  <%- include("../partials/gnb-vn") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<div style="padding:56.25% 0 0 0;position:relative;">
					<iframe src="https://player.vimeo.com/video/766328808?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
				</div>
				<div class="shadow-top"></div>
				<div class="shadow-bottom"></div>
				<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">GRIT CAMP</p>
					<div class="camp">
						<span class="label">Hành trang cho cuộc sống</span>
						<!-- <img class="img" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/YT_logo.png" alt=""> -->
					</div>
					<!-- <p class="description">
						Led by experienced life coaches and mentors graduating from West Point, Cambridge and American Ivy League, GRIT Camp - Preparation for Life helps young people develop mental, physical, and emotional resilience through field and outdoor experiences. For 36 hours straight, students will be able to persever and overcome challenges, earning valuable lessons to carry throughout their life.
					</p> -->
					<ul>
						<li>36H trải nghiệm thực tế tại các vùng đất hoang dã.</li>
						<li>4 năm triển khai nội bộ hệ thống các trường quốc tế.</li>
						<li>Lần đầu tiên mở ra cơ hội cho tất cả các học sinh tham gia</li>
					</ul>
					<div class="note">
						Chương trình dành cho học sinh từ 9 - 16 tuổi (lớp 4 - lớp 10)
					</div>
					<a href="#register">
						<p class="read-more">
							<span>ĐĂNG KÝ </span>
							<span class="button-hover">NGAY</span>
						</p>
					</a>
				</div>
				<div class="menu">
					<div class="menu-item">Point Avenue</div>
					<a href="#core-values">
						<div class="menu-item">Giá trị cốt lõi</div>
					</a>
					<a href="#mentor">
						<div class="menu-item">Đội ngũ cố vấn</div>
					</a>
					<a href="#date-localtions">
						<div class="menu-item">Thời gian & địa điểm</div>
					</a>
					<a href="#experience">
						<div class="menu-item">Hoạt động trải nghiệm</div>
					</a>
				</div>
				
			</section>
			<div class="main">
				<section class="campaign" id="core-values">
					<div class="block-1">
						<p>
							<span>GIÁ TRỊ CỐT LÕI</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-camp"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-camp"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/S__13713464.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC01946.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02195.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="block-description">
							<ul>
								<li><b>VƯỢT QUA GIỚI HẠN CỦA BẢN THÂN:</b> Thông qua những trải nghiệm thực địa đầy thử thách.</li>
								<li><b>THIÊN NHIÊN CHÍNH LÀ LỚP HỌC VĨ ĐẠI NHẤT:</b> HỌC TRẢI NGHIỆM với các hoạt động thể lực và xây dựng kỹ năng sinh tồn.</li>
								<li><b>XÂY DỰNG KỶ LUẬT BẢN THÂN:</b> Càng kỷ luật - Càng tự do!</li>
								<li><b>AN TOÀN LÀ TRÊN HẾT:</b> Đảm bảo an toàn cho học sinh trong mọi tình huống.</li>
							</ul>
							<div class="swiper mySwiperMobile">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/S__13713464.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC01946.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02195.jpg" alt="">
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						<a href="#register">
							<p class="read-more">
								<span>ĐĂNG KÝ </span>
								<span class="button-hover">NGAY</span>
							</p>
						</a>
						</div>
					</div>
				</section>
				<section class="mentor" id="mentor">
					<div class="block-1">
						<p>
							<span>ĐỘI NGŨ CỐ VẤN</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-mentor"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-mentor"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="team_wrap">
							<div class="section_inner">
							<div class="swipe_type_01_wrap">
								<div class="swiper mySwiperMentors">
									<div class="swiper-wrapper">
										<% for ( let i = 0; i < teamMembers.length; i++) { %>
											<div class="swiper-slide">
												<div class="swipe_type_01--img team_img">
													<div class="img_box">
														<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>" class="<%= teamMembers[i].key %>">
													</div>
												</div>
												<div class="swipe_type_01--desc team_desc_box">
													<div class="bg"></div>
													<div class="info">
														<p class="name"><%= teamMembers[i].name %></p>
														<div class="position"><%= teamMembers[i].position %></div>
														<div class="ex"><%= teamMembers[i].desc %></div>
													</div>
												</div>
											</div>
										<% } %>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
						
						</div>
						<div class="block-description">
							<p>
								Đồng hành cùng các trại viên là đội ngũ chuyên gia và cố vấn có 25 năm kinh nghiệm tổ chức Trại Nội Trú & Bán Trú, tốt nghiệp các trường Đại học danh tiếng như West Point, Harvard, Cambridge, UPenn,...
							</p>
						</div>
					</div>
				</section>
				<section class="offer" id="date-localtions">
					<div class="block-1">
						<p class="title"><span>THỜI GIAN & ĐỊA ĐIỂM</span></p>
					</div>
					<div class="block-2">
						<div class="block-pc">
							<div class="box-text">
								<p class="title">Địa điểm</p>
								<span class="content-grit">Rừng quốc gia Cúc Phương</span>
							</div>
							<div class="bg">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/6e.jpg" style="max-width: 950px">
								<div class="box-content" style="flex: 1">
									<!-- <div class="box-1">
										<p class="text-offer text-thin">Dates</p>
										<p class="text-offer text-bold">10% OFF by October 30th, 2022</p>
									</div>
									<div class="box-2">
										<p class="text-offer text-thin">DISCOUNT OF</p>
										<p class="text-offer text-bold">15%</p>
										<p class="text-offer text-thin">FOR GROUP OF</p>
										<p class="text-offer text-bold">11+ CAMPERS</p>
									</div> -->
									<ul>
										<li style="opacity: 0.6">GRIT Camp #1: Thứ 7 - Chủ Nhật, ngày 19 - 20/11/2022. Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
										<li>GRIT Camp #2: Thứ 7 - Chủ Nhật, ngày 10 - 11/12/2022.  Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
										<li>GRIT Camp #3: Thứ 7 - Chủ Nhật, ngày 07 - 08/01/2023.  Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="block-mobile">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/6e.jpg">
							<div class="content">
								<div class="left">
									<p class="text-offer text-thin">Địa điểm</p>
										<p class="text-offer text-bold">Rừng quốc gia Cúc Phương</p>
								</div>
								<div class="right">
									<p class="text-thin">Date</p>
									<ul>
										<li style="opacity: 0.6">GRIT Camp #1: Thứ 7 - Chủ Nhật, ngày 19 - 20/11/2022. Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
										<li>GRIT Camp #2: Thứ 7 - Chủ Nhật, ngày 10 - 11/12/2022.  Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
										<li>GRIT Camp #3: Thứ 7 - Chủ Nhật, ngày 07 - 08/01/2023.  Khởi hành vào sáng sớm thứ Bảy và trở về vào tối Chủ Nhật.</li>
									</ul>
								</div>
							</div>
							<div class="background"></div>
						</div>
					</div>
				</section>
				<section class="experience" id="experience">
					<div class="block-1">
						<p>
							<span>Các hoạt động tại Grit Camp</span>
						</p>
						<div class="swiper mySwiperExperience">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC_5496.psd_1.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_326.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_558.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DAY+11_210107_215.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02062.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC02217.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-ex"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-ex"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="boxDetail">
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">LEO NÚI & VƯỢT RỪNG NGUYÊN SINH</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" alt="" class="icon-pc">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png"  class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Trại viên sẽ được huấn luyện kỹ năng leo núi tại Rừng Quốc gia Cúc Phương, phát triển thể lực và sức bền cho trẻ.
										</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">THỬ THÁCH SINH TỒN</p>
									<div class="ic-academic"></div>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Học và trải nghiệm toàn  bộ kỹ năng sinh tồn trong môi trường thiên nhiên hoang dã: Tìm kiếm và chế biến thức ăn, phòng chống đuối nước, xử trí chấn thương,...
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">XÁC ĐỊNH PHƯƠNG HƯỚNG</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Đọc bản đồ và dò la bàn là bộ kỹ năng sẽ được hướng dẫn chi tiết nhằm giúp trẻ giữ an toàn trong tình huống khẩn cấp.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">KHẢ NĂNG PHÁN ĐOÁN VÀ LÀM VIỆC NHÓM</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Thông qua hoạt động tự dựng lều và cắm trại qua đêm, trẻ sẽ hình thành kỹ năng tự lập và làm việc nhóm hiệu quả.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">SỬ DỤNG LỬA HIỆU QUẢ</p>
									<img style="width: 4rem;height: 4rem" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Lửa là yếu tố sống còn trong cuộc hành trình khám phá thiên nhiên, vì vậy tạo lửa an toàn là kỹ năng quan trọng cho trại viên.
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">VƯỢT SÔNG AN TOÀN</p>
									<img style="width: 4rem;height: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img style="width: 80px;height: 80px" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Thử thách đan bè tre vượt sông là bài học cuối cùng nhằm hoàn thiện tất cả các kỹ năng đã được học tại Grit Camp.
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="timeline" id="timeline">
					<div class="block-1">
						<p class="title">
							<span>LỘ TRÌNH HOẠT ĐỘNG</span>
						</p>
					</div>
					<div class="block-2">
						<div class="day-1">
							<div class="header">
								<p class="label">Ngày 1</p>
							</div>
							<div class="timeline-block" style="margin-top: 12rem">
								<div class="ic-next timeline-pc">
									<div class="box-timeline box-timeline-1">
										<span>07.00</span>
										<span class="desc">Đoàn tập trung và di chuyển tới địa điểm cắm trại</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-2">
										<span>10.00</span>
										<span class="desc">Di chuyển tới Vườn Quốc Gia Cúc Phương</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-3">
										<span>10.30</span>
										<span class="desc">Chia thành 2 đội và bắt đầu hành trình leo núi</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-4">
										<span>12.00</span>
										<span class="desc">Ăn trưa và nghỉ ngơi</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-5">
										<span>16.00</span>
										<span class="desc">2 đội gặp nhau tại điểm đích và bắt đầu dựng trại</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-6">
										<span>20.00</span>
										<span class="desc">Đốt lửa trại và giao lưu với các cố vấn</span>
										<div class="line"></div>
									</div>
								</div>
							</div>
							<div class="timeline-mobile">
								<div class="line"></div>
								<div class="div-timeline">
									<div class="box">
										<span class="time">07.00</span>
										<span class="desc">Đoàn tập trung và di chuyển tới địa điểm cắm trại</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span>10.00</span>
										<span class="desc">Di chuyển tới Vườn Quốc Gia Cúc Phương</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span>10.30</span>
										<span class="desc">Chia thành 2 đội và bắt đầu hành trình leo núi</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">12.00</span>
										<span class="desc">Ăn trưa và nghỉ ngơi</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">16.00</span>
										<span class="desc">2 đội gặp nhau tại điểm đích và bắt đầu dựng trại</span>
										<div class="line-box"></div>
									</div>
									<div class="box">
										<span class="time">20.00</span>
										<span class="desc">Đốt lửa trại và giao lưu với các cố vấn</span>
										<div class="line-box"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="day-2">
							<div class="header">
								<p class="label">Ngày 2</p>
							</div>
							<div class="timeline-block" style="margin-top: 12rem">
								<div class="ic-next timeline-pc">
									<div class="box-timeline box-timeline-1">
										<span>06.00</span>
										<span class="desc">Thức dậy và tập thể dục</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-2">
										<span>07.00</span>
										<span class="desc">Tự làm bữa sáng</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-3">
										<span>10.00</span>
										<span class="desc">Leo núi trở lại điểm xuất phát</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-4">
										<span>12.00</span>
										<span class="desc">Ăn trưa tại Hồ Mạc và di chuyển tới sông Hoàng Long</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-5">
										<span>14.00 - 17.00</span>
										<span class="desc">Tham gia thử thách tạo bè tre vượt sông</span>
										<div class="line"></div>
									</div>
									<div class="box-timeline box-timeline-6">
										<span>17.30 - 20.00</span>
										<span class="desc">Hành trình kết thúc, trở về Hà Nội</span>
										<div class="line"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="timeline-mobile">
							<div class="line"></div>
							<div class="div-timeline">
								<div class="box">
									<span class="time">06.00</span>
									<span class="desc">Thức dậy và tập thể dục</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>07.00</span>
									<span class="desc">Tự làm bữa sáng</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>10.00</span>
									<span class="desc">Leo núi trở lại điểm xuất phát</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">12.00</span>
									<span class="desc">Ăn trưa tại Hồ Mạc và di chuyển tới sông Hoàng Long</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">14.00 - 15.00</span>
									<span class="desc">Tham gia thử thách tạo bè tre vượt sông</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">17.30 - 20.00</span>
									<span class="desc">Hành trình kết thúc, trở về Hà Nội</span>
									<div class="line-box"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="timeline" id="timeline">
					<div class="block-1">
						<p class="title">
							<span>Trải Nghiệm Grit Camp #1 2022</span>
						</p>
					</div>
					<div class="block-2">
						<div style="padding:56.25% 0 0 0;position:relative;">
							<iframe src="https://player.vimeo.com/video/778764441?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
						</div>
					</div>
				</section>
				<!-- <section class="campaign" id="price">
					<div class="block-1">
						<p>
							<span>CHI PHÍ ĐÃ BAO GỒM CÁC GIÁO CỤ SAU</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-price"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-price"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="swiper mySwiperPrice">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/A7408937.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05106.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/IMG_6664.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05311.jpg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/elijah-chen-EWFUHJpIZr8-unsplash.jpeg" alt="">
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/insurance.jpg" alt="">
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="block-description">
							<ul>
								<li><b>Người dẫn tour</b></li>
								<li><b>Thức ăn Đồ uống</b></li>
								<li><b>Phương tiện di chuyển</b></li>
								<li><b>Dụng cụ cắm trại</b></li>
								<li><b>Vé tham quan</b></li>
								<li><b>Bảo hiểm an toàn</b></li>
							</ul>
							<div class="swiper mySwiperPriceMobile">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/A7408937.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05106.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/IMG_6664.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/DSC05311.jpg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/elijah-chen-EWFUHJpIZr8-unsplash.jpeg" alt="">
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/insurance.jpg" alt="">
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						<a href="#register">
							<p class="read-more">
								<span>ĐĂNG KÝ </span>
								<span class="button-hover">NGAY</span>
							</p>
						</a>
						</div>
					</div>
				</section> -->
				<section class="register" id="register">

				<div class="register-logo">
					<div class="logo-title">
						<span>
							ĐĂNG KÝ NGAY	
						</span>
					</div>
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/grit/bg_register.jpg">
				</div>		
				<div class="register-container">
					<form id="register-form" class="register-form" method="POST" action="/camp/grit-camp">
						<input class="form-control" placeholder="Họ*" id="firstName" name="firstName" required>
						<input class="form-control" placeholder="Tên*"  id="lastName" name="lastName" required>
						<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
						<input class="form-control" placeholder="Số điện thoại*"  id="phoneNumber" name="phoneNumber">
						<input class="form-control" placeholder="Tên học sinh"  id="childName" name="childName">
						<input class="form-control" placeholder="Trường/ Lớp*"  id="grade" name="grade" required>
						<button class="read-more" type="submit" onclick="submitForm()">
							<span>ĐĂNG</span>
							<span class="button-hover">KÝ</span>
						</button>
					</form>
				<div>			
				</section>
			</div>

			
			<%- include("../partials/common_popup") %>

		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
    <%- include("../partials/footer-vn") %>
</div>
    <%- include("../partials/body_end") %>