<%- include("../partials/head_start") %>
<title>Trại hè Tiếng Anh Online - Point Avenue</title>
<meta name="keywords" content="Camp, Trại hè Tiếng Anh Online, Point Avenue">
<meta name="title" content="Trại hè Tiếng Anh Online - Point Avenue">
<meta property="og:title" content="Trại hè Tiếng Anh Online - Point Avenue">

<%- include("../partials/common_styles_vn") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/online-summer-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub online_summer_camp vn">
  <%- include("../partials/gnb-vn") %>
	<!-- container :: start -->
	<div class="container">
		<section class="visual_wrap">
			<div class="section_inner">
				<div class="text_box">
					<h2 class="title_r_01">Chương trình Trại hè Online</h2>
				</div>
			</div>
		</section>
		<section class="online_summer_desc_wrap">
			<div class="section_inner">
				<p>Là tổ chức uy tín với 10 năm kinh nghiệm, Point Avenue tự hào mang tới các em học sinh trải nghiệm Trại hè Quốc tế ngay tại nhà. Hãy cùng đón chào một mùa hè đầy lý thú nơi các em được học tập, kết nối cộng đồng và phát triển năng lực học tập suốt đời.</p>
				<div class="btn_box">
					<a href="/camp/online-summer-camp" class="eng">Read in English</a>
					<a href="/camp/online-summer-camp-vn" class="vitn">Read in Vietnamese</a>
				</div>
			</div>
		</section>
		<section class="camp_info_wrap">
			<div class="section_inner">
				<div class="grid_type_wrap_03">
					<div class="text_article">
						<ul>
							<li class="on">
								<p class="title_r_02 section_title">Trại hè Online Character First </p>
								<div class="text">
									Dành riêng cho trải nghiệm học trực tuyến, trại hè Character First được thiết kế dựa trên ba học phần chính: 50% - Kiến thức & Kỹ năng tiếng Anh học thuật; 25% - Phát triển kỹ năng lãnh đạo rèn luyện ý thức cộng đồng & trách nhiệm toàn cầu và 25% - Rèn luyện thể chất. Mục tiêu giúp các em học sinh từ 9 - 16 tuổi phát triển nhân cách, rèn luyện năng lực cảm xúc và xã hội, và xây dựng thói quen sống tích cực.
								</div>
							</li>
							<li>
								<p class="title_r_02">Trại hè Tiếng Anh Online Global Citizen</p>
								<div class="text">
									Trại hè Global Citizen giúp các em hình thành vốn hiểu biết về các nền văn hóa và các quốc gia trên thế giới thông qua hoạt động đọc sách và các môn học thú vị như Du hành thế giới, đồng thời trau dồi về kỹ năng đạo đức, xã hội và rèn luyện thể chất để sẵn sàng trở thành những công dân toàn cầu tương lai.
								</div>
							</li>
							<li>
								<p class="title_r_02">Trại hè Tranh biện Chuyên sâu </p>
								<div class="text">
									Mùa hè này, đừng bỏ lỡ cơ hội tham gia chương trình Tranh biện chuyên sâu, giúp các em nâng cao kỹ năng giao tiếp, tư duy phản biện, hợp tác và tạo ra các giải pháp cho một thế giới luôn thay đổi. Tham gia trại hè, các em sẽ nhận được sự hướng dẫn tốt nhất đến từ HLV trưởng Đội tuyển Việt Nam cho Giải Tranh biện Vô địch Thế giới các trường trung học. Thể hiện năng lực tranh biện thông qua giải đấu tranh luận vào cuối mùa hè!
								</div>
							</li>
							<li>
								<p class="title_r_02">Trại hè Luyện thi IELTS, SAT, TOEFL</p>
								<div class="text">
									Với kinh nghiệm đào tạo và luyện thi cho hàng trăm học sinh đạt điểm trung bình thuộc top 5% thế giới, các cố vấn của Point Avenue sẽ cá nhân hóa lộ trình luyện thi từng học sinh để giúp các em nhanh chóng đạt được số điểm mơ ước.
								</div>
							</li>
						</ul>
					</div>
					<div class="video_article">
						<div class="article_box">
							<div class="video_box">
								<iframe src="https://www.youtube.com/embed/6G00LSy1Bkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="future_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title"> Điểm đặc biệt tại Trại hè Online của Point Avenue </h3>
				<div class="grid_type_wrap_02">
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>
								<strong>Chương trình tối ưu dành cho trải nghiệm học online </strong>
								<ul class="ul_type_02">
									<li>Cân bằng giữa các hoạt động thể chất và các lớp học khám phá, bồi dưỡng về học thuật. </li>
									<li>Sử dụng đa dạng công cụ giảng dạy online để tổ chức các hoạt động tương tác và vận động thú vị </li>
									<li>Giáo trình đặc biệt “Positivity Project" về huấn luyện cuộc sống và phát triển cá nhân</li>
								</ul>
							</li>
							<li>
								<strong>Đội ngũ giáo viên giàu kinh nghiệm</strong>
								<ul class="ul_type_02">
									<li>Dày dặn kinh nghiệm tổ chức các Trại hè Quốc tế và dạy học cho học sinh tại khu vực Đông Nam Á, Hong Kong, Thailand, Hàn Quốc, Hoa Kỳ….</li>
									<li>Được đào tạo chuyên nghiệp về phương pháp giảng dạy trực tuyến hiệu quả </li>
								</ul>
							</li>
							<li>
								<strong>Phát triển toàn diện cho từng cá nhân:</strong>
								<ul class="ul_type_02">
									<li>Thông qua các hoạt động về học thuật, rèn luyện thể chất và phát triển nhân cách</li>
									<li>Giúp học sinh xây dựng những thói quen tốt bằng cách đưa ra những kiến thức và lời khuyên về phương pháp học tập, rèn luyện sức khỏe, thiết lập mục tiêu...</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="img_article">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/camp_special_img.png" alt="">
					</div>
				</div>
			</div>
		</section>
		
		<section class="schedule_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Lịch trình Trại hè Online</h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/schedule.png" alt="">
				</div>
			</div>
		</section>

		<section class="meet_team_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Đội ngũ Giáo viên</h3>
				<div class="grid_type_wrap_01">
					<div class="video_article swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/MUHJhYFWTOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/jfjnQynSV0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
						</ul>
						<div class="swiper-pagination"></div>
					</div>	
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>Tốt nghiệp các trường Đại học danh tiếng như West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA,...</li>
							<li>Từng giữ vai trò chiến lược trong nhiều công ty lớn và tập đoàn Fortune 500</li>
							<li>Trưởng bộ phận Nghiên cứu & Phát triển là Tiến sĩ ngành Giáo dục.</li>
							<li>25 năm kinh nghiệm tổ chức trại hè nội trú & bán trú.</li>
							<li>Chương trình tranh biện do Huấn luyện viên trưởng của Đội tuyển quốc gia Việt Nam tham dự Giải vô địch Tranh biện Các trường Quốc tế (WSDC) thiết kế.</li>
							<li>Tổng hơn 50 năm kinh nghiệm luyện thi các môn SAT, SSAT, IELTS và TOEFL.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="typical_camp_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Một ngày tại Trại hè Online</h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/a-typical-camp-day-img.png" alt="">
				</div>
			</div>
		</section>

		<section class="typical_camp_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Trại hè Tiếng Anh Online Global Citizen</h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/global-citizen-online-camp-img.png" alt="">
				</div>
			</div>
		</section>
		
		<section class="testimonials_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Chia sẻ của Phụ huynh và Học sinh</h3>
				<div class="swipe_type_01_wrap results_swiper_01">
					<div class="swiper-container">
						<ul class="swiper-wrapper swipe_type_02 team_list">
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-1.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-2.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-3.jpg" alt="">
									</div>
								</a>
							</li>
							
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-4.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-5.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-6.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/LoveforPA-7.jpg" alt="">
									</div>
								</a>
							</li>
						</ul>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="offers_wrap">
			<div class="section_inner">
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/vn/join-camp.png" alt="">
				</div>
				<div class="text_box">
					<a href="https://pointavenue1.typeform.com/to/Zu9ciFoe" target="_blank" class="btn_type_01--sec yellow">
						<span class="btn_inner">Đăng ký</span>
					</a>
				</div>
			</div>
		</section>

	</div>
	<!--container :: end-->
	<div class="layer_popup testimonials_popup">
		<div class="popup_cont">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
			</div>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
	</div>
    <%- include("../partials/footer-vn") %>
	<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

