<%- include("../partials/head_start") %>
<title>Online Summer Camp - Point Avenue</title>
<meta name="keywords" content="Camp,Online Summer Camp , Point Avenue">
<meta name="title" content="Online Summer Camp - Point Avenue">
<meta property="og:title" content="Online Summer Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/online-summer-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub online_summer_camp">
  <%- include("../partials/gnb") %>
	<!-- container :: start -->
	<div class="container">
		<section class="visual_wrap">
			<div class="section_inner">
				<div class="text_box">
					<h2 class="title_r_01">ONLINE SUMMER CAMP</h2>
				</div>
			</div>
		</section>
		<section class="online_summer_desc_wrap">
			<div class="section_inner">
				<p>Bringing 10 years of international camp experience inside the home this summer!<br>
					Let’s reconnect and prepare for students to take steps into the future.</p>
				<div class="btn_box">
					<a href="/camp/online-summer-camp" class="eng">Read in English</a>
					<a href="/camp/online-summer-camp-vn" class="vitn">Read in Vietnamese</a>
				</div>
			</div>
		</section>
		<section class="camp_info_wrap">
			<div class="section_inner">
				<div class="grid_type_wrap_03">
					<div class="text_article">
						<ul>
							<li class="on">
								<p class="title_r_02 section_title">Character First Camp</p>
								<div class="text">
									Now more than ever, students need structure, productivity, and a community. “Character First Camp" provides students with an immersive and online environment focused on personal growth through rigorous academics, physical training, and character development. 
								</div>
							</li>
							<li>
								<p class="title_r_02">Global Citizen Camp for Elementary students </p>
								<div class="text">
									Global Citizen Camp helps students build their knowledge about different cultures and countries in the world through exciting activities and discussions. By utilizing a holistic approach, students will experience classes that focus on academics, morals, social-emotional development, and physical training through online platforms. 
								</div>
							</li>
							<li>
								<p class="title_r_02">Debate Intensive Camp</p>
								<div class="text">
									Receive the top-notch instruction by Head Coach of Team Vietnam for World Schools Debating Championships . It's a premier summer program where students learn and advance their communication skills, critical thinking, collaboration, and create solutions to an ever-changing world. Unleash your voice through the debate tournament at the end of summer!
								</div>
							</li>
							<li>
								<p class="title_r_02">Test Prep Intensive Camp</p>
								<div class="text">
									With experience training hundreds of students to achieve an average score in the top 5% of the world, Point Avenue teachers will personalize the test prep roadmap for each student to help them quickly achieve their dream score.
								</div>
							</li>
						</ul>
					</div>
					<div class="video_article">
						<div class="article_box">
							<div class="video_box">
								<iframe src="https://www.youtube.com/embed/6G00LSy1Bkk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="future_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">What makes our camps special</h3>
				<div class="grid_type_wrap_02">
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>
								<strong>Designed for an  optimal online experience: </strong>
								<ul class="ul_type_02">
									<li>Balanced between physical activities and academic lessons.</li>
									<li>Diverse online learning tools to facilitate high-energy and engaging activities.</li>
									<li>Positivity Project curriculum</li>
								</ul>
							</li>
							<li>
								<strong>Experienced Mentors: </strong>
								<ul class="ul_type_02">
									<li>Years of experience organizing international camps and tutoring students across Southeast Asia, Hong Kong, Thailand, Korea, US, Shanghai, & more</li>
									<li>Professionally trained to deliver effective and engaging online lessons</li>
								</ul>
							</li>
							<li>
								<strong>Focused on Personal Growth:</strong>
								<ul class="ul_type_02">
									<li>Through rigorous academics, physical training, and character development.</li>
									<li>Provide practical advice that will help students develop healthy habits: study tips, fitness plans, goal setting, & more</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="img_article">
						<div class="img_box swiper-container">
							<ul class="swiper-wrapper">
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/camp_special_img.png" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/camp_special_img_02.JPG" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/camp_special_img_03.jpg" alt="">
								</li>
							</ul>
							<div class="swiper-pagination"></div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="schedule_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Camp Schedule</h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/schedule.png" alt="">
				</div>
			</div>
		</section>

		<section class="meet_team_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Meet The Team</h3>
				<div class="grid_type_wrap_01">
					<div class="video_article swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/MUHJhYFWTOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/jfjnQynSV0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
						</ul>
						<div class="swiper-pagination"></div>
					</div>	
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more</li>
							<li>Held strategic positions in Fortune 500 companies</li>
							<li>Head of Research and Development and Teacher Training with a Ph.D. in Education</li>
							<li>25 years of experience operating boarding and day summer camps</li>
							<li>Debate training developed by the Head Coach of World Schools Debating Championships (WSDC) Vietnam National Team</li>
							<li>50+ years of total test prep experience for SAT, SSAT, IELTS, and TOEFL</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="typical_camp_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">A Typical Camp Day </h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/a-typical-camp-day-img.png" alt="">
				</div>
			</div>
		</section>

		<section class="typical_camp_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Global Citizen Online Camp </h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/global-citizen-online-camp-img.png" alt="">
				</div>
			</div>
		</section>
		
		<section class="testimonials_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Testimonials</h3>
				<div class="swipe_type_01_wrap results_swiper_01">
					<div class="swiper-container">
						<ul class="swiper-wrapper swipe_type_02 team_list">
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
									</div>
								</a>
							</li>
							
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
									</div>
								</a>
							</li>
						</ul>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="offers_wrap">
			<div class="section_inner">
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/online/join-camp.png" alt="">
				</div>
				<div class="text_box">
					<a href="https://pointavenue1.typeform.com/to/Zu9ciFoe" target="_blank" class="btn_type_01--sec yellow">
						<span class="btn_inner">Register</span>
					</a>
				</div>
			</div>
		</section>

	</div>
	<!--container :: end-->
	<div class="layer_popup testimonials_popup">
		<div class="popup_cont">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
			</div>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
	</div>
    <%- include("../partials/footer") %>
	<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

