<%- include("../partials/head_start") %>
<title>Summer Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">SUMMER BOARDING CAMP</h2>
					</div>
				</div>
			</section>
			<section class="camp_info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/Yb5ihmLVfTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="text_article">
							<h3 class="title_r_02 section_title">Summer Leaders Camp</h3>
							<div class="text">
								Our premier boarding camp program, Point Avenue Summer Leaders Camp (SLC) provides students with an immersive and technology limited environment focused on personal growth through rigorous academics, physical training, and character development.
							</div>
							<div class="btn_box">
								<a href="https://pointavenue1.typeform.com/to/E3jvPO1p" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Register</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="philosophy_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Camp Leadership Philosophy</h3>
					<ul class="box_type_01">
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/philosophy_01.png" alt="">
							</div>
						</li>
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/philosophy_02.png" alt="">
							</div>
						</li>
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/philosophy_03.png" alt="">
							</div>
						</li>
					</ul>
					<div class="cloud_wrap">
						<div class="cloud_item cloud_item_01"></div>
						<div class="cloud_item cloud_item_02"></div>
						<div class="cloud_item cloud_item_03"></div>
					</div>
				</div>
			</section>
			
			<section class="differences_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Camp Differences</h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_01.png" alt="">
							<p class="title_r_03">Leadership</p>
							<div class="text--gray">
								Personal Growth<br>Community Outlook<br>Sustainable Change
							</div>
						</li>
						<li class="asset_item asset_02">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_02.png" alt="">
							<p class="title_r_03">Academics</p>
							<div class="text--gray">
								Global Explorer<br>Entrepreneurship & NGO<br>Life Coaching
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_03.png" alt="">
							<p class="title_r_03">Physical Fitness</p>
							<div class="text--gray">
								PA Physical Fitness Award<br>Team Sports<br>Daily Physical Training<br>Hiking
							</div>
						</li>
						<li class="asset_item asset_04">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_04.png" alt="">
							<p class="title_r_03">Skill building</p>
							<div class="text--gray">
								Experience Communal Farming<br>Participate in adventure sports: Kayaking, Archery<br>Team Sports
							</div>
						</li>
						<li class="asset_item asset_05">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_05.png" alt="">
							<p class="title_r_03">Camp Setting</p>
							<div class="text--gray">
								Yen Tu Village<br>Surrounded by Nature<br>Technology Limited
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			<section class="location_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Camp Location</h3>
					<div class="swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/camp_01.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/camp_02.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/NTT_6504-1.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/NTT_6519-1.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/NTT_6840-1.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/Room16164.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/Room16129.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/Room16145.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/Room16103.jpg" alt="">
							</li>
							<li class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/camp_03.jpg" alt="">
							</li>
						</ul>
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
			
			<section class="testimonials_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Testimonials</h3>
					<div class="swipe_type_01_wrap results_swiper_01">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
										</div>
									</a>
								</li>
							</ul>

							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev black"></div>
							<div class="swiper-button-next black"></div>
							
						</div>
					</div>
				</div>
			</section>
			
			<section class="offers_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Offers</h3>
					<div class="brochure_box">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/brochure.png" alt="">
					</div>
				</div>
			</section>
			
			<section class="info_input_wrap">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/E3jvPO1p?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</section>
		</div>
		<!--container :: end-->
		<div class="layer_popup testimonials_popup">
			<div class="popup_cont">
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
				</div>
			</div>
			<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
		</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>