<%- include("../partials/head_start") %>
<title>Summer Day Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Day Camp, Point Avenue">
<meta name="title" content="Summer Day Camp - Point Avenue">
<meta property="og:title" content="Summer Day Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-day-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub day_camp">
  <%- include("../partials/gnb") %>
	<!-- container :: start -->
	<div class="container">
		<section class="visual_wrap">
			<div class="section_inner">
				<div class="text_box">
					<h2 class="title_r_01">SUMMER DAY CAMP</h2>
				</div>
			</div>
		</section>
		<section class="camp_info_wrap">
			<div class="section_inner">
				<div class="grid_type_wrap_03">
					<div class="text_article">
						<ul>
							<li class="on">
								<p class="title_r_02 section_title">Summer Day Camp 2021</p>
								<div class="text">
									Based on Character development, our 2021 Summer programs use the core pillars of: Academic Rigor, Physical Fitness, and Global Citizenry (skills for the 21st century) to prepare for students to take step into future. Most importantly, we want your child to reconnect and make lifelong memories and friendships this Summer Break.
								</div>
							</li>
							<li>
								<p class="title_r_02">Elementary Day Camp</p>
								<div class="text">
									Summer Day Camp offers a series of theme-based courses including Nature Warriors, Journalism, Globetrotters and Facing Conflict. By utilizing a holistic approach, students will experience classes that focus on academics, morals, social-emotional development, and physical training in a safe and supportive environment.
								</div>
							</li>
							<li>
								<p class="title_r_02">Debate Intensive Camp</p>
								<div class="text">
									Receive the top-notch instruction by Head Coach of Team Vietnam for World Schools Debating Championships . It's a premier summer program where students learn and advance their communication skills, critical thinking, collaboration, and create solutions to an ever-changing world. Unleash your voice through the debate tournament at the end of summer!
								</div>
							</li>
							<li>
								<p class="title_r_02">Test Prep Intensive Camp</p>
								<div class="text">
									With experience training hundreds of students to achieve an average score in the top 5% of the world, Point Avenue teachers will personalize the test prep roadmap for each student to help them quickly achieve their dream score.
								</div>
							</li>
						</ul>
					</div>
					<div class="video_article">
						<div class="article_box">
							<div class="video_box">
								<iframe src="https://www.youtube.com/embed/B9Sks8Ic7yY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="info_input_wrap">
			<div class="section_inner">
				<div class="typeform-widget" data-url="https://form.typeform.com/to/HOd4YY0z?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
			</div>
		</section>
		
		<section class="future_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Become a Future Global Citizen</h3>
				<div class="grid_type_wrap_02">
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>A new standard in summer education with a dedication to excellence, focusing on 3 pillars: Academic, Physical and Character Development.</li>
							<li>Innovative, challenging, and enriching programs that span from English skills, Debate, Life Coaching, and Test Preparation designed to motivate, engage your child, and prepared for long-term success.</li>
							<li>Taught by experienced and internationally qualified mentors.</li>
							<li>A mentorship philosophy and a multicultural environment that empowers young students to mature into disciplined, independent, and responsible people.</li>
							<li>Small class size (max 8 students for elementary class), with a fun, engaging, and creative environment. Students will have many opportunities for one-on-one mentorship.</li>
						</ul>
					</div>
					<div class="img_article">
						<div class="swiper-container">
							<ul class="swiper-wrapper">
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/9-1.jpg" alt="">
									</div>
								</li>
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/chị-chu-4.png" alt="">
									</div>
								</li>
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/3-1.jpg" alt="">
									</div>
								</li>
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/12-1.jpg" alt="">
									</div>
								</li>
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/6-1.jpg" alt="">
									</div>
								</li>
								<li class="swiper-slide">
									<div class="img_box">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/15-1.jpg" alt="">
									</div>
								</li>
							</ul>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="schedule_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Camp Schedule</h3>
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/schedule-01-4.png" alt="">
				</div>
			</div>
		</section>
		
		<section class="meet_team_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Meet The Team</h3>
				<div class="grid_type_wrap_01">
					<div class="video_article swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/MUHJhYFWTOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/jfjnQynSV0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
						</ul>
						<div class="swiper-pagination"></div>
					</div>	
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more</li>
							<li>Held strategic positions in Fortune 500 companies</li>
							<li>Head of Research and Development and Teacher Training with a Ph.D. in Education</li>
							<li>25 years of experience operating boarding and day summer camps</li>
							<li>Debate training developed by the Head Coach of World Schools Debating Championships (WSDC) Vietnam National Team</li>
							<li>50+ years of total test prep experience for SAT, SSAT, IELTS, and TOEFL</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="testimonials_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Testimonials</h3>
				<div class="swipe_type_01_wrap results_swiper_01">
					<div class="swiper-container">
						<ul class="swiper-wrapper swipe_type_02 team_list">
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
									</div>
								</a>
							</li>
							
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
									</div>
								</a>
							</li>
						</ul>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="offers_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Our Offers</h3>
				<div class="brochure_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/discount-01-1.png" alt="">
				</div>
				<div class="text_box">
					<h3 class="title_r_02">Join Our 2021 Summer Day Camp!</h3>
					<a href="https://pointavenue1.typeform.com/to/HOd4YY0z" target="_blank" class="btn_type_01--sec blue">
						<span class="btn_inner">Register</span>
					</a>
				</div>
			</div>
		</section>
	</div>
	<!--container :: end-->
	<div class="layer_popup testimonials_popup">
		<div class="popup_cont">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
			</div>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
	</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

