<%- include("../partials/head_start") %>
<title>Summer Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Boarding Camp, Point Avenue">
<meta name="title" content="Summer Boarding Camp - Point Avenue">
<meta property="og:title" content="Summer Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="banner_block">
				<div style="padding:56.25% 0 0 0;position:relative;">
					<iframe src="https://player.vimeo.com/video/698461113?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
				</div>
				<div class="shadow-top"></div>
				<div class="shadow-bottom"></div>
				<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
				<div
					class="absolute text-white w-1/3 label_banner"
				>
					<p class="title">SUMMER LEADERS</p>
					<div class="camp">
						<span class="label">CAMP AT</span>
						<img class="img" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/YT_logo.png" alt="">
					</div>
					<p class="description">
						Built from premium West Point, Cambridge 
						and American Ivy League educational knowledge 
						our premier boarding camp program is a life-changing opportunity 
						that inspires personal growth and leadership development. Our camp is hosted at Nuong Village, located in the five-star Legacy Yen Tu Resort in a beautifully secluded Yen Tu valley. The property consists of premium lodging, six classrooms, a private dining, several indoor and outdoor activity areas, an organic farm, one of the most spectacular hikes in Vietnam, and a nearby lake.
					</p>
					<a href="#register">
						<p class="read-more">
							<span>LEARN </span>
							<span class="button-hover">MORE</span>
						</p>
					</a>
				</div>
				<div class="menu">
					<div class="menu-item">Point Avenue</div>
					<a href="#experience">
						<div class="menu-item">Programs</div>
					</a>
					<a href="#mentor">
						<div class="menu-item">Mentors</div>
					</a>
					<a href="#offer">
						<div class="menu-item">Offer</div>
					</a>
				</div>
				
			</section>
			<div class="main">
				<section class="campaign" id="campaign">
					<div class="block-1">
						<p>
							<span>CAMP</span> LEADERSHIP PHILOSOPHY 
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-camp"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-camp"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="swiper mySwiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
									<div class="alt-img"><p>Academic Rigor</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/personal_health.png" alt="">
									<div class="alt-img"><p>Personal Health</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/global-citizenry.png" alt="">
											<div class="alt-img"><p>Global Citizenry</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
											<div class="alt-img"><p>Character</p></div>
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
						<div class="block-description">
							<p class="content">
								Campers will participate in invaluable programs and activities that embody our four pillars of leadership: Academic Rigor, Personal Health, Global Citizenry, and Character Development. They will grow in each of these areas as they participate in exciting activities such as academic courses, life-coaching, fitness, community service, daily healthy habits, nature exploration, sports, arts, and more!
							</p>
							<div class="swiper mySwiperMobile">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
										<div class="alt-img"><p>Academic Rigor</p></div>
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/personal_health.png" alt="">
										<div class="alt-img"><p>Personal Health</p></div>
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/global-citizenry.png" alt="">
												<div class="alt-img"><p>Global Citizenry</p></div>
									</div>
									<div class="swiper-slide">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
												<div class="alt-img"><p>Character</p></div>
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						<a href="#register">
							<p class="read-more">
								<span>REGISTER </span>
								<span class="button-hover">NOW</span>
							</p>
						</a>
						</div>
					</div>
				</section>
				<section class="mentor" id="mentor">
					<div class="block-1">
						<p>
							OUR INTERNATIONAL <span>MENTORS</span>
						</p>
						<div class="box-navigation">
							<div
								class="box swiper-button-prev-mentor"
							>
								<div class="ic-next"></div>
							</div>
							<div
								class="box swiper-button-next-mentor"
							>
								<div class="ic-prev"></div>
							</div>
						</div>
					</div>
					<div class="block-2">
						<div class="team_wrap">
							<div class="section_inner">
							<div class="swipe_type_01_wrap">
								<div class="swiper mySwiperMentors">
									<div class="swiper-wrapper">
										<% for ( let i = 0; i < teamMembers.length; i++) { %>
											<div class="swiper-slide">
												<div class="swipe_type_01--img team_img">
													<div class="img_box">
														<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>">
													</div>
												</div>
												<div class="swipe_type_01--desc team_desc_box">
													<div class="bg"></div>
													<div class="info">
														<p class="name"><%= teamMembers[i].name %></p>
														<div class="position"><%= teamMembers[i].position %></div>
														<div class="ex"><%= teamMembers[i].desc %></div>
													</div>
												</div>
											</div>
										<% } %>
									</div>
									<div class="swiper-pagination"></div>
								</div>
							</div>
						</div>
						
						</div>
						<div class="block-description">
							<p>
								Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more.</br>
								25 years of experience operating boarding and day camps.
							</p>
						</div>
					</div>
				</section>
				<section class="offer" id="offer">
					<div class="block-1">
						<p class="title">OUR <span>OFFERS</span></p>
					</div>
					<div class="block-2">
						<div class="block-pc">
							<div class="box-text">
								<p class="title">BUNDLE OFFER</p>
								<span class="amount">18,000,000</span>
							</div>
							<div class="bg">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-offer.png">
								<div class="box-content">
									<div class="box-1">
										<p class="text-offer text-thin">Free Luggage & Discount</p>
										<p class="text-offer text-bold">10%</p>
									</div>
									<div class="box-2">
										<p class="text-offer text-thin">DISCOUNT OF</p>
										<p class="text-offer text-bold">15%</p>
										<p class="text-offer text-thin">FOR GROUP OF</p>
										<p class="text-offer text-bold">CAMPERS 15+</p>
									</div>
								</div>
							</div>
						</div>
						<div class="block-mobile">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-offer-mb.png">
							<div class="content">
								<div class="left">
									<p class="text-offer text-thin">DISCOUNT</p>
										<p class="text-offer text-bold">15%</p>
										<p class="text-offer text-thin">FOR GROUP OF</p>
										<p class="text-offer text-bold">15 CAMPERS</p>
								</div>
								<div class="right">
									<p class="text-thin">BUNDLE OFFER</p>
									<span class="text-bold amount">18,000,000</span>
									<p class="text-offer text-thin">Free Luggage & Discount</p>
									<p class="text-offer text-bold">10%</p>
								</div>
							</div>
							<div class="background"></div>
						</div>
					</div>
				</section>
				<section class="experience" id="experience">
					<div class="block-1">
						<p>
							WHAT CAMPERS WILL
							<span>EXPERIENCE</span>
						</p>
					</div>
					<div class="block-2">
						<div class="boxDetail">
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">LEADERSHIP</p>
									<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_leadership.png" alt="" class="icon-pc">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_leadership_mobile.png"  class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										<span>Personal Growth:</span>
										Physical training, health and wellness, camp
										challenges, and life coaching
										</p>
									<p class="description">
										<span>Others Mindset:</span> Team building, communication activities, and
										leadership roles
									</p>
									<p class="description">
										<span>Community Focused:</span> Compassion, global citizenry, and community
										involvement
									</p>
									<p class="description">
										<span>Sustainable Change:</span> Farming, habit building, and experiential
										education
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">ACADEMIC</p>
									<div class="ic-academic"></div>
									<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										<span>Class 1:</span> Life Coaching - Building Positive Relationships
									</p>
									<p class="description">
										<span>Focus:</span> Interpersonal skills, critical thinking, and public
										speaking
									</p>
									<p class="description">
										<span>Class 2:</span> Global Citizens - Zero Hunger
									</p>
									<p class="description">
										<span>Focus:</span> Compassion, character, and team presentation skills
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">PHYSICAL FITNESS</p>
									<img  style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_physical.png" class="icon-pc" alt="">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_physical_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Plyometrics, body workouts, Fitness technique coaching
									</p>
									<p class="description">
										<span>Team Sports:</span> Volleyball, American football, basketball
									</p>
									<p class="description">
										<span>PA’s Physical Fitness Award:</span> Initial and final fitness test
									</p>
									<p class="description">
										A full day hike leveled for children of all ages!
									</p>
								</div>
							</div>
							<div
								class="boxExperience"
							>
								<div class="header">
									<p class="label">SAFETY & NUTRITION MEASUREMENT</p>
									<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_safety.png" class="icon-pc" alt="">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_safety_mobile.png" class="icon-mobile" alt="">
								</div>
								<div class="blockDescription">
									<p class="description">
										Point Avenue provides Accident Insurance to all registered
										students
									</p>
									<p class="description">
										A Registered Nurse (RN) will be on-site 24/7
									</p>
									<p class="description">
										Students will be provided three nutritious meals each day with
										carbohydrates, protein, and fresh vegetables. Meals will include
										Vietnamese (50%), Korean (25%), and Western (25%) food options
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="timeline">
					<div class="block-1">
						<p class="title">
							<span>TYPICAL</span> DAY OF CAMP
						</p>
					</div>
					<div class="block-2">
						<div class="ic-next timeline-pc">
							<div class="box-timeline box-timeline-1">
								<span>06.15</span>
								<span class="desc">Line up</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-2">
								<span>06.30</span>
								<span class="desc">Fitness Activities / Farming</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-3">
								<span>8.15</span>
								<span class="desc">Breakfast</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-4">
								<span>10.00</span>
								<span class="desc">Room Inspection</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-5">
								<span>10.30</span>
								<span class="desc">Global Citizens: Zero Hunger</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-6">
								<span>12.00</span>
								<span class="desc">Lunch</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-7">
								<span>12.45</span>
								<span class="desc">Life Coaching: Building Positive Relationships</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-8">
								<span>14.30</span>
								<span class="desc">Afternoon Activities</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-9">
								<span>17.30</span>
								<span class="desc">Dinner</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-10">
								<span>18.00</span>
								<span class="desc">Intentional Time</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-11">
								<span>19.15</span>
								<span class="desc">Evening Activity</span>
								<div class="line"></div>
							</div>
							<div class="box-timeline box-timeline-12">
								<span>21.30</span>
								<span class="desc">Lights Out</span>
								<div class="line"></div>
							</div>
						</div>
						<div class="timeline-mobile">
							<div class="line"></div>
							<div class="div-timeline">
								<div class="box">
									<span class="time">06.15</span>
									<span class="desc">Line up</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>06.30</span>
									<span class="desc">Fitness Activities / Farming</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span>08.15</span>
									<span class="desc">Breakfast</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">10.00</span>
									<span class="desc">Room Inspection</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">10.30</span>
									<span class="desc">Global Citizens: Zero Hunger</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">12.00</span>
									<span class="desc">Lunch</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">12.45</span>
									<span class="desc">Life Coaching: Building Positive Relationships</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">14.30</span>
									<span class="desc">Afternoon Activities</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">17.30</span>
									<span class="desc">Dinner</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">18.00</span>
									<span class="desc">Intentional Time</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">19.15</span>
									<span class="desc">Evening Activity</span>
									<div class="line-box"></div>
								</div>
								<div class="box">
									<span class="time">21.30</span>
									<span class="desc">Lights Out</span>
									<div class="line-box"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="register" id="register">

				<div class="register-logo">
					<div class="logo-title">
						<p class="title">REGISTER 
						</p>
						<span>
							NOW	
						</span>
					</div>
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-register.png">
				</div>		
				<div class="register-container">
					<form id="register-form" class="register-form" method="POST" action="/camp/summer-boarding-camp">
						<input class="form-control" placeholder="First Name*" id="firstName" name="firstName" required>
						<input class="form-control" placeholder="Last Name*"  id="lastName" name="lastName" required>
						<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
						<input class="form-control" placeholder="Mobile Number*"  id="phoneNumber" name="phoneNumber">
						<input class="form-control" placeholder="Your Child Name"  id="childName" name="childName">
						<input class="form-control" placeholder="Student's Grade & School*"  id="grade" name="grade" required>
						<button class="read-more" type="submit" onclick="submitForm()">
							<span>Sign</span>
							<span class="button-hover">Up</span>
						</button>
					</form>
				<div>			
				</section>
			</div>

			
			<%- include("../partials/common_popup") %>

		</div>
		<script src="https://player.vimeo.com/api/player.js"></script>
    <%- include("../partials/footer") %>
</div>
    <%- include("../partials/body_end") %>