<%- include("../partials/head_start") %>
<title>CHƯƠNG TRÌNH TRẠI HÈ NỘI TRÚ - Point Avenue</title>
<meta name="keywords" content="CHƯƠNG TRÌNH TRẠI HÈ NỘI TRÚ, Point Avenue">
<meta name="title" content="CHƯƠNG TRÌNH TRẠI HÈ NỘI TRÚ - Point Avenue">
<meta property="og:title" content="CHƯƠNG TRÌNH TRẠI HÈ NỘI TRÚ - Point Avenue">

<%- include("../partials/common_styles_vn") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp summer">
  <%- include("../partials/gnb-vn") %>
  <!-- container :: start -->
	<div class="container">
		<section class="banner_block">
			<div style="padding:56.25% 0 0 0;position:relative;">
				<iframe src="https://player.vimeo.com/video/698461113?h=19c5628cee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CampYenTu.mp4"></iframe>
			</div>
			<div class="shadow-top"></div>
			<div class="shadow-bottom"></div>
			<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
			<div
				class="absolute text-white w-1/3 label_banner"
			>
				<p class="title">Trại hè Lãnh đạo</p>
				<div class="camp">
					<span class="label">Quốc tế tại</span>
					<img class="img" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/YT_logo.png" alt="">
				</div>
				<p class="description">
					Được xây dựng bởi đội ngũ chuyên gia giáo dục với nhiều năm kinh nghiệm từ các trường Đại học danh giá West Point, Cambridge và Ivy League, Trại hè Lãnh đạo Quốc tế của Point Avenue sẽ khai phá tiềm năng và nuôi dưỡng những nhà lãnh đạo tương lai. Trại hè được tổ chức tại khu vực Làng Nương nằm trong MGallery - Yên Tử - Khu nghỉ dưỡng cao cấp được bao trọn bởi không gian thiên nhiên hùng vĩ. Hệ thống cơ sở vật chất hiện đại, đa dạng cùng không gian rộng thoáng tạo điều kiện thuận lợi tối đa cho các hoạt động rèn luyện thể chất, kỹ năng trong nhà và ngoài trời.
				</p>
				<a href="#register">
					<p class="read-more">
						<span>ĐỌC </span>
						<span class="button-hover">THÊM</span>
					</p>
				</a>
			</div>
			<div class="menu">
				<div class="menu-item">Point Avenue</div>
				<a href="#experience">
					<div class="menu-item">Chương trình</div>
				</a>
				<a href="#mentor">
					<div class="menu-item">Cố vấn</div>
				</a>
				<a href="#offer">
					<div class="menu-item">Ưu đãi</div>
				</a>
			</div>
			
		</section>
		<div class="main">
			<section class="campaign" id="campaign">
				<div class="block-1">
					<p>
						<span>Triết lý </span> Giáo dục
					</p>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev-camp"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next-camp"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
								<div class="alt-img"><p>Kiến thức và Kỹ năng học thuật </p></div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/personal_health.png" alt="">
								<div class="alt-img"><p>Phát triển thể chất </p></div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/global-citizenry.png" alt="">
										<div class="alt-img"><p>Công dân toàn cầu </p></div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
										<div class="alt-img"><p>Rèn luyện nhân cách </p></div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="block-description">
						<p class="content">
							Tham gia Trại hè, các em sẽ được trải nghiệm đa dạng các hoạt động và chương trình học, được thiết kế dựa trên 4 nguyên tắc phát triển năng lực lãnh đạo, bao gồm các khoá học học thuật, chương trình huấn luyện cuộc sống với cố vấn cá nhân, rèn luyện thể chất, cùng tạo dự án đóng góp cho cộng đồng, xây dựng thói quen lành mạnh, khám phá và gắn kết với thiên nhiên cùng với rất nhiều các môn thể thao, nghệ thuật độc đáo! 
						</p>
						<div class="swiper mySwiperMobile">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/academic-rigor.jpg" alt="">
									<div class="alt-img"><p>Kiến thức và Kỹ năng học thuật</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/personal_health.png" alt="">
									<div class="alt-img"><p>Phát triển thể chất</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/global-citizenry.png" alt="">
											<div class="alt-img"><p>Công dân toàn cầu</p></div>
								</div>
								<div class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/character.jpg" alt="">
											<div class="alt-img"><p>Rèn luyện nhân cách</p></div>
								</div>
							</div>
							<div class="swiper-pagination"></div>
						</div>
					<a href="#register">
						<p class="read-more">
							<span>ĐĂNG KÝ </span>
							<span class="button-hover">NGAY</span>
						</p>
					</a>
					</div>
				</div>
			</section>
			<section class="mentor" id="mentor">
				<div class="block-1">
					<p>
						ĐỘI NGŨ <span>CỐ VẤN</span>
					</p>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev-mentor"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next-mentor"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
					<div class="team_wrap">
						<div class="section_inner">
						<div class="swipe_type_01_wrap">
							<div class="swiper mySwiperMentors">
								<div class="swiper-wrapper">
									<% for ( let i = 0; i < teamMembers.length; i++) { %>
										<div class="swiper-slide">
											<div class="swipe_type_01--img team_img">
												<div class="img_box">
													<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>">
												</div>
											</div>
											<div class="swipe_type_01--desc team_desc_box">
												<div class="bg"></div>
												<div class="info">
													<p class="name"><%= teamMembers[i].name %></p>
													<div class="position"><%= teamMembers[i].position %></div>
													<div class="ex"><%= teamMembers[i].desc %></div>
												</div>
											</div>
										</div>
									<% } %>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
					
					</div>
					<div class="block-description">
						<p>
							Tốt nghiệp các trường Đại học danh tiếng như West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA,..	.</br>
							25 năm kinh nghiệm tổ chức trại hè nội trú & bán trú.
						</p>
					</div>
				</div>
			</section>
			<section class="offer" id="offer">
				<div class="block-1">
					<p class="title"><span>ƯU ĐÃI</span></p>
				</div>
				<div class="block-2">
					<div class="block-pc">
						<div class="box-text">
							<p class="title">Ưu đãi gộp</p>
							<span class="amount">18,000,000</span>
						</div>
						<div class="bg">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-offer.png">
							<div class="box-content">
								<div class="box-1">
									<p class="text-offer text-thin">Tặng Va-li du lịch & Ưu đãi</p>
									<p class="text-offer text-bold">10%</p>
								</div>
								<div class="box-2">
									<p class="text-offer text-thin">Ưu đãi</p>
									<p class="text-offer text-bold">15%</p>
									<p class="text-offer text-thin">cho nhóm từ</p>
									<p class="text-offer text-bold">15 học sinh</p>
								</div>
							</div>
						</div>
					</div>
					<div class="block-mobile">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-offer-mb.png">
						<div class="content">
							<div class="left">
								<p class="text-offer text-thin">Ưu đãi</p>
									<p class="text-offer text-bold">15%</p>
									<p class="text-offer text-thin">cho nhóm từ</p>
									<p class="text-offer text-bold">15 học sinh</p>
							</div>
							<div class="right">
								<p class="text-thin">Ưu đãi gộp</p>
								<span class="text-bold amount">18,000,000</span>
								<p class="text-offer text-thin">Tặng Va-li du lịch & Ưu đãi</p>
								<p class="text-offer text-bold">10%</p>
							</div>
						</div>
						<div class="background"></div>
					</div>
				</div>
			</section>
			<section class="experience" id="experience">
				<div class="block-1">
					<p>
						<span>Trải nghiệm </span>nào đang chờ đón các con?
					</p>
				</div>
				<div class="block-2">
					<div class="boxDetail">
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">Kỹ năng Lãnh đạo </p>
								<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_leadership.png" alt="" class="icon-pc">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_leadership_mobile.png"  class="icon-mobile" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									<span>Phát triển bản thân:</span>
									các hoạt động rèn luyện thể chất, sức khỏe và sức bền, các thử thách trại và tham gia các buổi huấn luyện trực tiếp với cố vấn
									</p>
								<p class="description">
									<span>Tư duy hợp tác:</span> các hoạt động nhóm đòi hỏi phát triển kỹ năng giao tiếp và lãnh đạo
								</p>
								<p class="description">
									<span>Tinh thần cộng đồng:</span> chủ đề học tập về lòng trắc ẩn, kỹ năng công dân toàn cầu và đóng góp cho cộng đồng
								</p>
								<p class="description">
									<span>Thay đổi bền vững:</span> Trải nghiệm mô hình "từ nông trại đến bàn ăn", xây dựng thói quen lành mạnh và giáo dục trải nghiệm
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">Kiến thức và kỹ năng học thuật </p>
								<div class="ic-academic"></div>
								<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" class="icon-pc" alt="">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic_mobile.png" class="icon-mobile" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									<span>Lớp 1:</span> Huấn luyện cuộc sống – Xây dựng các mối quan hệ tích cực
								</p>
								<p class="description">
									Trau dồi kỹ năng giao tiếp, tư duy phản biện và diễn thuyết trước công chúng
								</p>
								<p class="description">
									<span>Lớp 2:</span> Công dân toàn cầu – Zero Hunger (Chấm dứt đói nghèo)
								</p>
								<p class="description">
									Nuôi dưỡng lòng trắc ẩn, phát triển nhân cách và kỹ năng thuyết trình theo nhóm 
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">Rèn luyện thể chất theo tinh thần West Point </p>
								<img  style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_physical.png" class="icon-pc" alt="">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_physical_mobile.png" class="icon-mobile" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Các bài tập cơ plyometrics và các bài tập toàn thân. Kỹ năng rèn luyện thể lực
								</p>
								<p class="description">
									<span>Các môn thể thao đồng đội:</span> Bóng chuyền, Bóng đá kiểu Mỹ, Bóng rổ 
								</p>
								<p class="description">
									<span>Giải thưởng Physical Fitness dành cho học sinh có cải thiện về thể lực:</span> Initial and final fitness test
								</p>
								<p class="description">
									đánh giá qua bài kiểm tra thể lực ở đầu và cuối trại hè. 
								</p>
							</div>
						</div>
						<div
							class="boxExperience"
						>
							<div class="header">
								<p class="label">An toàn & Dinh dưỡng  </p>
								<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_safety.png" class="icon-pc" alt="">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_safety_mobile.png" class="icon-mobile" alt="">
							</div>
							<div class="blockDescription">
								<p class="description">
									Tất cả học sinh tham gia Trại hè sẽ được Point Avenue chi trả Bảo hiểm Tai nạn 
								</p>
								<p class="description">
									Nhân viên Y tế túc trực tại Trại hè 24/7
								</p>
								<p class="description">
									3 bữa ăn cân bằng và đầy đủ dưỡng chất bao gồm tinh bột, đạm và rau xanh. Lựa chọn đa dạng bao gồm bữa ăn kiểu Việt Nam (50%), Hàn Quốc (25%) và đồ Âu (25%)
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="timeline">
				<div class="block-1">
					<p class="title">
						<span>LỊCH TRÌNH </span>THEO NGÀY
					</p>
				</div>
				<div class="block-2">
					<div class="ic-next timeline-pc">
						<div class="box-timeline box-timeline-1">
							<span>06.15</span>
							<span class="desc">Tập trung </span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-2">
							<span>06.30</span>
							<span class="desc">Rèn luyện thể lực/ Dự án thực hành nông nghiệp</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-3">
							<span>08.15</span>
							<span class="desc">Ăn sáng</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-4">
							<span>10.00</span>
							<span class="desc">Kiểm tra phòng</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-5">
							<span>10.30</span>
							<span class="desc">Lớp học Công dân toàn cầu - Chấm dứt đói nghèo </span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-6">
							<span>12.00</span>
							<span class="desc">Ăn trưa </span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-7">
							<span>12.45</span>
							<span class="desc">Lớp học Huấn luyện cuộc sống - Xây dựng mối quan hệ tích cực</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-8">
							<span>14.30</span>
							<span class="desc">Hoạt động buổi chiều</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-9">
							<span>17.30</span>
							<span class="desc">Ăn tối </span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-10">
							<span>18.00</span>
							<span class="desc">Giờ sinh hoạt chung</span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-11">
							<span>19.15</span>
							<span class="desc">Hoạt động buổi tối </span>
							<div class="line"></div>
						</div>
						<div class="box-timeline box-timeline-12">
							<span>21.00</span>
							<span class="desc">Nghỉ ngơi </span>
							<div class="line"></div>
						</div>
					</div>
					<div class="timeline-mobile">
						<div class="line"></div>
						<div class="div-timeline">
							<div class="box">
								<span class="time">06.15</span>
								<span class="desc">Tập trung </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span>06.30</span>
								<span class="desc">Rèn luyện thể lực/ Dự án thực hành nông nghiệp</span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span>08.15</span>
								<span class="desc">Ăn sáng</span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">10.00</span>
								<span class="desc">Kiểm tra phòng </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">10.30</span>
								<span class="desc">Lớp học Công dân toàn cầu - Chấm dứt đói nghèo</span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">12.00</span>
								<span class="desc">Ăn trưa </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">12.45</span>
								<span class="desc">Lớp học Huấn luyện cuộc sống - Xây dựng mối quan hệ tích cực </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">14.30</span>
								<span class="desc">Hoạt động buổi chiều</span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">17.00</span>
								<span class="desc">Ăn tối</span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">18.00</span>
								<span class="desc">Giờ sinh hoạt chung </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">19.15</span>
								<span class="desc">Hoạt động buổi tối </span>
								<div class="line-box"></div>
							</div>
							<div class="box">
								<span class="time">21.30</span>
								<span class="desc">Nghỉ ngơi </span>
								<div class="line-box"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="register" id="register">

			<div class="register-logo">
				<div class="logo-title">
					<p class="title">ĐĂNG KÝ
					</p>
					<span>
						NGAY	
					</span>
				</div>
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg-register.png">
			</div>		
			<div class="register-container">
				<form id="register-form" class="register-form" method="POST" action="/camp/summer-boarding-camp">
					<input class="form-control" placeholder="Họ*"  id="lastName" name="lastName" required>
					<input class="form-control" placeholder="Tên*" id="firstName" name="firstName" required>
					<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
					<input class="form-control" placeholder="Số điện thoại*"  id="phoneNumber" name="phoneNumber">
					<input class="form-control" placeholder="Tên học sinh"  id="childName" name="childName">
					<input class="form-control" placeholder="Trường/ Lớp*"  id="grade" name="grade" required>
					<button class="read-more" type="submit" onclick="submitForm()">
						<span>ĐĂNG</span>
						<span class="button-hover">KÝ</span>
					</button>
				</form>
			<div>			
			</section>
		</div>

		
		<%- include("../partials/common_popup") %>

	</div>
		<!--container :: end-->
    <%- include("../partials/footer-vn") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>