<%- include("../partials/head_start") %>
<title>Summer Day Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Summer Day Camp, Point Avenue">
<meta name="title" content="Summer Day Camp - Point Avenue">
<meta property="og:title" content="Summer Day Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script>
  const teamMembers = <%- JSON.stringify(teamMembers) %>;
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/summer-day-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub day_camp">
  <%- include("../partials/gnb") %>
	<!-- container :: start -->
	<div class="container">
		<section class="banner_block">
			<!-- <video
				autoPlay={true}
				playsInline={true}
				loop={true}
				id="myVideo"
				muted={true}
			>
				<source
					src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/netflix/video/2022+Day+Camp.mp4"
					type="video/mp4"
				/>
			</video> -->
			<div style="padding:56.25% 0 0 0;position:relative;">
				<iframe src="https://player.vimeo.com/video/698854219?h=b2cd2353bf&amp;badge=0&amp;player_id=0&amp;app_id=58479&amp;loop=true&amp;autoplay=true&amp;background=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="2022+Day+Camp.mp4"></iframe>
			</div>
			<div class="shadow-top"></div>
			<div class="shadow-bottom"></div>
			<!-- <img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/bg_summer_camp.png"> -->
			<div
				class="absolute text-white w-1/3 label_banner"
			>
				<p class="title">INTERNATIONAL</p>
				<div class="camp">
					<span class="label">SUMMER DAY CAMPS</span>
				</div>
				<a href="#register">
					<p class="read-more">
						<span>READ </span>
						<span class="button-hover">MORE</span>
					</p>
				</a>
			</div>
			<div class="menu">
				<div class="menu-item">Point Avenue</div>
				<a href="#campaign">
					<div class="menu-item">Programs</div>
				</a>
				<a href="#mentor">
					<div class="menu-item">Mentors</div>
				</a>
				<a href="#offer">
					<div class="menu-item">Offer</div>
				</a>
			</div>
			
		</section>
		<div class="main">
			<section class="campaign" id="campaign">
				<div class="block-1">
					<p>
						<span>ABOUT</span> THE DAY CAMP
					</p>
				</div>
				<div class="block-2">
					<div class="content">
						<div class="box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/about-day-camp-3.png">
							<p class="title-camp">“The Future You” Summer Day Camp</p>
							<p class="desc" style="margin-bottom: 10px;">For students 5 - 10 years old</p>
							<p class="desc">
								"The Future You" Summer Day Camp is an opportunity for your child to build confidence, think critically, stretch creativity, and become the best version of themselves. The program has been designed by experts to enable participants to Imagine, Explore & Move through hands-on activities, interactive learning, and exciting projects that enrich their summer vacation to the next level.</p>
						</div>
						<div class="box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/about-day-camp-2.png">
							<p class="title-camp">Debate Intensive Summer Camp</p>
							<p class="desc" style="margin-bottom: 10px;">For students 9-14 years old</p>
							<p class="desc">
								This summer break, receive top-notch instruction from Head Coach of Team Vietnam for World Schools Debating Championships at Debate Day Camp. The intensive camp provides students with the abilities to use debate as a tool to develop their capacity to think critically, communicate effectively, collaborate with others, and create solutions to an ever-changing world.
							</p>
						</div>
						<div class="box">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/about-day-camp-1.png">
							<p class="title-camp">Test Prep Intensive Program</p>
							<p class="desc" style="margin-bottom: 10px;">For students 13-18 years old </p>
							<p class="desc">
								Test Prep Intensive Program is designed in-house by internationally qualified and recognized subject matter experts recognized subject matter experts in the SAT, IELTS, TOEFL, tutoring, and beyond. More than 200 Point Avenue students have scored over 1560 on the SAT (top 1% globally), 47% of Point Avenue students have scored over 1500, and over $20 million in scholarships have been awarded. We have a proven strategy and successful track record.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="objectives" id="objectives">
				<div class="block-1">
					<p>
						LEARNING <span>OBJECTIVES</span>
					</p>
				</div>
				<div class="block-2">
					<div class="content">
						<div class="box">
							<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_leadership.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>Expand English proficiency through "Reading Adventure," and "Writing Project"</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Enrich knowledge about the world and environment through "Journalism" and "Nature Warriors"</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Encourage good health through mentorship and daily exercise in "Physical Education"</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>Explore the natural environment and apply learned skills on an exciting field trip</p>
							</div>
						</div>
						<div class="box">
							<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_physical.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>"Debate for Change" course: Analyze, discuss, debate, and present solutions to achieve Sustainable Development Goals (SDGs) set by the United Nations to address global challenges </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>"MSHS Debate Beginner" course: Introduce fundamental structures of argumentation and refutation, rules of debate and speaker roles as well as equip students with the necessary skills to begin competitive parliamentary-style debating</p>
							</div>
						</div>
						<div class="box">
							<img style="width: 4rem;" src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/ic_academic.png" alt="" class="icon-pc">
							<div class="desc">
								<div class="dot"></div>
								<p>Explore important test-taking strategies to understand the different question types  </p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>SAT: Mastery of 9 Reading Concepts, 12 Writing Concepts, and 12 Math Concepts </br>
									TOEFL: Mastery of 9 Reading Concepts, 6 Listening Concepts</p>
							</div>
							<div class="desc">
								<div class="dot"></div>
								<p>IELTS: Use 4 IELTS skills as a catalyst for language development</p>
							</div>
						</div>
					</div>
					<a href="#register" class="obj-register">
						<p class="read-more">
							<span>REGISTER </span>
							<span class="button-hover">NOW</span>
						</p>
					</a>
				</div>
			</section>
			<section class="testimonial" id="testimonial">
				<div class="block-1">
					<p>
						Testimonials
					</p>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev-test"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next-test"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
					<div class="swiper myTestimonial">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/Mrs.+Miog+Kim+-+JiHoo+_+Donghoo%E2%80%99s+Mom.jpg">
								<div class="desc">
									<p class="mom">Mrs. Miog Kim </br>
										JiHoo & Donghoo’s Mom</p>
									<p class="talk">I'm impressed by how Point Avenue's mentors create so many exciting activities and give students so many opportunities to learn interesting topics. My children were very shy about being in public at first, but then became a lot more confident and mature thanks to the help of Point Avenue's dedicated mentors, who always treat their students like a family.</p>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/Mrs.+Dinh+-+B%C3%ACnh+Nguy%C3%AAn%E2%80%99s+Mom.jpg">
								<div class="desc">
									<p class="mom">Mrs. Dinh </br>
										Bình Nguyên’s Mom</p>
									<p class="talk">“What distinguishes Point Avenue from other education companies is their focus on building character in addition to academic knowledge. They push their students to strive for strength and independence, to always give their best and never back down.”</p>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/Mrs.+Hoa+-+Mother+of+Nhat+Minh.png">
								<div class="desc">
									<p class="mom">Mrs. Hoa </br>
										Mother of Nhat Minh - Debate Program student</p>
									<p class="talk">“At Point Avenue, teachers always contact parents regularly to keep them up-to-date on children’s progress. They also organize a midterm private meeting for each parent so that we can catch up with our children’s study, strengths and weaknesses to improve and better their performance. Nhat Minh participates in class very enthusiastically and has been able to speak for a lot longer during his debate speeches. Hyewon and Travis are his debate coaches and he likes them both very much.”</p>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/_Nguyen+Thao+Trang.jpg">
								<div class="desc">
									<p class="mom">Nguyen Thao Trang </br>
										Debate Program student</p>
									<p class="talk">Debate is, in many ways, very life-changing from my experience. I learned to be more critical, analytical, and most importantly, to be a listener. Many people
										perceive Debate as a highly competitive activity, but Debate itself is a life skill. Learning Debate at PA is an exceptional experience. Ms. Hyewon is not like any debate teachers I have met - she is incredibly encouraging and loving. At first, I didn't feel confident coming to class, but eventually, everyone got on just fine. I was
										impressed by the way Ms. Hyewon treats each student as if they were her children and how teachers and staff here are selfless for their students.
										At Point Avenue, I didn't just learn to be a Debater. I also became a better person thanks to the guidance from the teachers here.</p>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/PLOY+.jpg">
								<div class="desc">
									<p class="mom">PLOY </br>
										Point Avenue Thailand - 1560 SAT</p>
									<p class="talk">“This could never be accomplished without the extensive guidance and support of Point Avenue’s mentors with the detailed lectures. During the course, I have gained an immense amount of knowledge and self-confidence.”</p>
								</div>
							</div>
							<div class="swiper-slide">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/Thai+Ha+Phuong.jpg">
								<div class="desc">
									<p class="mom">Thai Ha Phuong </br>
										IELTS 8.0 (Listening: 8.5, Reading: 9.0, Writing: 7.0, Speaking: 7.0)</p>
									<p class="talk">“During my 4 IELTS cram sessions at Point Avenue, I received enormous support and encouragement from the mentors, especially Sarah and Francoa. In addition to a 2.5-hour class, they always spent extra time tutoring me and providing meticulous feedback, especially for my Writing skills. Since the Test Prep mentors are subject matter experts, teachers can give individual care and detailed comments on strengths, weaknesses and areas of improvement for each student.”</p>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</section>
			<section class="mentor" id="mentor">
				<div class="block-1">
					<p>
						MEET OUR <span>TEAM</span>
					</p>
					<div class="box-navigation">
						<div
							class="box swiper-button-prev-mentor"
						>
							<div class="ic-next"></div>
						</div>
						<div
							class="box swiper-button-next-mentor"
						>
							<div class="ic-prev"></div>
						</div>
					</div>
				</div>
				<div class="block-2">
					<div class="swiper mySwiperMentors">
						<div class="swiper-wrapper">
							<% for ( let i = 0; i < teamMembers.length; i++) { %>
								<div class="swiper-slide">
									<div class="swipe_type_01--img team_img">
										<div class="img_box">
											<img src="<%= teamMembers[i].img %>" alt="<%= teamMembers[i].img %>">
										</div>
									</div>
									<div class="swipe_type_01--desc team_desc_box">
										<div class="bg"></div>
										<div class="info">
											<p class="name"><%= teamMembers[i].name %></p>
											<div class="position"><%= teamMembers[i].position %></div>
											<div class="ex"><%= teamMembers[i].desc %></div>
										</div>
									</div>
								</div>
							<% } %>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="block-description">
						<span>
							Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more
						</span>
						<span>
							Held strategic positions in Fortune 500 companies
						</span>
						<span>
							25 years of experience operating boarding and day camps
						</span>
						<span>
							Debate training developed by the Head Coach of World Schools Debating Championships (WSDC) Vietnam National Team

						</span>
					</div>
				</div>
			</section>
			<section class="offer" id="offer">
				<div class="block-1">
					<p class="title">SPECIAL <span>OFFERS</span></p>
				</div>
				<div class="block-2">
					<div class="block-pc">
						<div class="box-text">
							<p class="title">BUNDLE OFFER</p>
							<span class="amount">12,000,000</span>
						</div>
						<div class="bg">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/offer.png">
							<div class="box-content">
								<div class="box-1">
									<p class="text-offer text-thin">FREE BACKPACK & DISCOUNT</p>
									<p class="text-offer text-bold">10%</p>
									<p class="text-offer text-thin">BEFORE:</p>
									<p class="text-offer text-bold">30/04/2022</p>
								</div>
							</div>
						</div>
					</div>
					<div class="block-mobile">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/offer-mobile.jpg">
						<div class="content">
							<div class="left">
								<p class="text-offer text-thin">FREE BACKPACK & DISCOUNT</p>
									<p class="text-offer text-bold">10%</p>
									<p class="text-offer text-thin">BEFORE:</p>
									<p class="text-offer text-bold">30/04/2022</p>
							</div>
							<div class="right">
								<p class="text-thin">BUNDLE OFFER</p>
								<span class="text-bold amount">12,000,000</span>
							</div>
						</div>
						<div class="background"></div>
					</div>
				</div>
			</section>
			<section class="register" id="register">

			<div class="register-logo">
				<div class="logo-title">
					<p class="title">REGISTER 
					</p>
					<span>
						NOW	
					</span>
				</div>
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/day/register.png">
			</div>		
			<div class="register-container">
				<form id="register-form" class="register-form" method="POST" action="/camp/summer-day-camp">
					<input class="form-control" placeholder="First Name*" id="firstName" name="firstName" required>
					<input class="form-control" placeholder="Last Name*"  id="lastName" name="lastName" required>
					<input class="form-control" placeholder="Email*"  id="email" name="email" required type="email">
					<input class="form-control" placeholder="Mobile Number*"  id="phoneNumber" name="phoneNumber">
					<input class="form-control" placeholder="Your Child Name"  id="childName" name="childName">
					<input class="form-control" placeholder="Student's Grade & School*"  id="grade" name="grade" required>
					<button class="read-more" type="submit" onclick="submitForm()">
						<span>Sign</span>
						<span class="button-hover">Up</span>
					</button>
				</form>
			<div>			
			</section>
		</div>

		
		<%- include("../partials/common_popup") %>

	</div>
	<script src="https://player.vimeo.com/api/player.js"></script>
	<!--container :: end-->
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

