<%- include("../partials/head_start") %>
<title>Winter Boarding Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Winter Boarding Camp, Point Avenue">
<meta name="title" content="Winter Boarding Camp - Point Avenue">
<meta property="og:title" content="Winter Boarding Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/winter-boarding-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub boarding_camp winter">
  <%- include("../partials/gnb") %>
  <!-- container :: start -->
		<div class="container">
			<section class="visual_wrap">
				<div class="section_inner">
					<div class="text_box">
						<h2 class="title_r_01">WINTER BOARDING CAMP</h2>
					</div>
				</div>
			</section>
			
			<section class="camp_translation_wrap">
				<div class="section_inner">
					<div class="btn_box">
						<a href="/camp/winter-boarding-camp" class="eng on">Read in English</a>
						<a href="/camp/winter-boarding-camp-vn" class="vitn">Read in Vietnamese</a>
					</div>
				</div>
			</section>

			<section class="camp_info_wrap">
				<div class="section_inner">
					<div class="grid_type_wrap_01">
						<div class="video_article">
							<div class="article_box">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/6lPTeyfisWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<div class="text_article">
							<h3 class="title_r_02 section_title">Winter Leaders Camp</h3>
							<div class="text">
								Our premier boarding camp program, Point Avenue Winter Leaders Camp (WLC), provides campers with an immersive and technology-limited environment focused on personal growth through character development, physical training, and rigorous academics.<br><br>
                                Our boarding camps focus on developing the 21st Century leadership skills of communication, collaboration, critical thinking, and creativity. These skills are supported with leadership training methods such as team-based challenges and physical endurance activities.
							</div>
							<div class="btn_box">
								<a href="https://pointavenue1.typeform.com/to/CfuQn299?typeform-source=trello.com" target="_blank" class="btn_type_01--sec">
									<span class="btn_inner">Register</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="philosophy_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Camp Leadership Philosophy</h3>
					<ul class="box_type_01">
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/communication.png" alt="">
							</div>
							<p class="title_r_03">Communication</p>
						</li>
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/collaboration.png" alt="">
							</div>
							<p class="title_r_03">Collaboration</p>
						</li>
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/critical Thinking.png" alt="">
							</div>
							<p class="title_r_03">Critical Thinking</p>
						</li>
						
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/creativity.png" alt="">
							</div>
							<p class="title_r_03">Creativity</p>
						</li>
						
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/problem Solving.png" alt="">
							</div>
							<p class="title_r_03">Problem Solving</p>
						</li>
						
						<li class="box_type_01--item">
							<div class="img_box">
								<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/discipline.png" alt="">
							</div>
							<p class="title_r_03">Discipline</p>
						</li>
					</ul>
					<div class="cloud_wrap">
						<div class="cloud_item cloud_item_01"></div>
						<div class="cloud_item cloud_item_02"></div>
						<div class="cloud_item cloud_item_03"></div>
					</div>
				</div>
			</section>
			
			<section class="differences_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Camp Differences</h3>
					<ul class="box_type_01 asset_list video_list">
						<li class="asset_item asset_01">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_01.png" alt="">
							<p class="title_r_03">Leadership</p>
							<div class="text--gray">
								Personal Growth<br>
                                Teamwork<br>
                                Community Service<br>
                                Habit Building
							</div>
						</li>
						<li class="asset_item asset_02">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_02.png" alt="">
							<p class="title_r_03">Academics</p>
							<div class="text--gray">
								Global Citizens<br>
                                Life Coaching<br>
                                Public Speaking<br>
                                Reflective Writing
							</div>
						</li>
						<li class="asset_item asset_03">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_03.png" alt="">
							<p class="title_r_03">Physical Fitness</p>
							<div class="text--gray">
								Fitness Challenges<br>
                                Daily Workouts<br>
                                Team Sports<br>
                                PA Physical Fitness Test
							</div>
						</li>
						<li class="asset_item asset_04">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_04.png" alt="">
							<p class="title_r_03">Skill building</p>
							<div class="text--gray">
								The art of learning<br>
                                Archery<br>
                                Team Sports<br>
                                Life Skills
							</div>
						</li>
						<li class="asset_item asset_05">
							<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/boarding/asset_icon_05.png" alt="">
							<p class="title_r_03">Camp Setting</p>
							<div class="text--gray">
								Surrounded by Nature<br>
                                Technology Limited
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			
			<section class="testimonials_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Testimonials</h3>
					<div class="swipe_type_01_wrap results_swiper_01">
						<div class="swiper-container">
							<ul class="swiper-wrapper swipe_type_02 team_list">
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
										</div>
									</a>
								</li>
								
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
										</div>
									</a>
								</li>
								<li class="swiper-slide swipe_type_02--item team_item">
									<a href="javascript:void(0);">
										<div class="swipe_type_02--img team_img">
											<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
										</div>
									</a>
								</li>
							</ul>						
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev black"></div>
							<div class="swiper-button-next black"></div>
							
							<div class="swiper-pagination"></div>	
						</div>
					</div>
				</div>
			</section>

			<section class="location_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Location: Royal Lotus Halong Resort & Villa</h3>
					<div class="swipe_type_01_wrap results_swiper_01">
						<div class="swiper-container">
							<ul class="swiper-wrapper">
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/1.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/2.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/3.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/4.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/5.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/6.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/7.jpg" alt="">
								</li>
								<li class="swiper-slide">
									<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/8.jpg" alt="">
								</li>
							</ul>
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev black"></div>
							<div class="swiper-button-next black"></div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="offers_wrap">
				<div class="section_inner">
					<h3 class="title_r_02 section_title">Our Offers</h3>
					<div class="brochure_box">
						<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/discount.png" alt="">
					</div>
				</div>
			</section>
			
			<section class="info_input_wrap">
				<div data-tf-widget="CfuQn299" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
			</section>
		</div>
		<!--container :: end-->
		<div class="layer_popup testimonials_popup">
			<div class="popup_cont">
				<div class="img_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
				</div>
			</div>
			<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
		</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>