<%- include("../partials/head_start") %>
<title>Trại Đông Tiếng Anh quốc tế 2021 - Point Avenue</title>
<meta name="keywords" content="Camp, Trại Đông Tiếng Anh quốc tế 2021, Point Avenue">
<meta name="title" content="Trại Đông Tiếng Anh quốc tế 2021 - Point Avenue">
<meta property="og:title" content="Trại Đông Tiếng Anh quốc tế 2021 - Point Avenue">

<%- include("../partials/common_styles_vn") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/winter-day-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub day_camp winter">
  <%- include("../partials/gnb-vn") %>
	<!-- container :: start -->
	<div class="container">
		<section class="visual_wrap">
			<div class="section_inner">
				<div class="text_box">
					<h2 class="title_r_01">Trại Đông Tiếng Anh quốc tế 2021</h2>
				</div>
			</div>
		</section>

		<section class="camp_translation_wrap">
			<div class="section_inner">
				<div class="btn_box">
					<a href="/camp/winter-day-camp" class="eng">Read in English</a>
					<a href="/camp/winter-day-camp-vn" class="vitn on">Read in Vietnamese</a>
				</div>
			</div>
		</section>
		
		<section class="camp_info_wrap">
			<div class="section_inner">
				<div class="grid_type_wrap_03">
					<div class="text_article">
						<ul>
							<li class="on">
								<p class="title_r_02 section_title">Winter Day Camp 2021</p>
								<div class="text">
									Một kỳ nghỉ đông ý nghĩa dành cho học sinh từ 5 - 13 tuổi đang chờ đón phía trước. Học sinh sẽ không chỉ tăng cường các kỹ năng Tiếng Anh mà còn trau dồi kỹ năng tranh biện, rèn luyện nhân cách tối đa và hơn hết còn có cơ hội "cho đi để nhận lại" qua những hoạt động cộng đồng ý nghĩa trong dịp Giáng sinh này!
								</div>
							</li>
							<li>
								<p class="title_r_02">Elementary Day Camp</p>
								<div class="text">
									<strong>2 tuần nghỉ đông khai phá tiềm năng! <br><br> Trại Đông tiếng Anh khối Tiểu học sẽ là không gian để các con trải nghiệm một mùa Giáng sinh bổ ích và ý nghĩa.</strong><br ><br >
									Với chủ đề "Trao cơ hội sẻ chia", các em sẽ được trau dồi những kỹ năng thiết yếu, hiểu thêm những phẩm chất để trở thành những cá nhân có ích để sẵn sàng lan tỏa những điều tốt đẹp tới cộng đồng, xã hội.<br>
									Dành cho học sinh từ 5 đến 10 tuổi.
								</div>
							</li>
							<li>
								<p class="title_r_02">Debate Intensive Camp</p>
								<div class="text">
									<strong>Trại Đông Tranh biện Quốc tế: Học điều Tích cực, Phát huy Nội lực là chương trình trại đông đầu tiên tại Việt Nam được thiết kế vượt ra khỏi phạm vi địa lý của Việt Nam để gặp gỡ và giao lưu với học sinh quốc tế tại Thái Lan trên môi trường trực tuyến và trực tiếp.</strong><br><br >
									Rèn luyện kỹ năng tranh biện cùng với Huấn luyện viên trưởng Đội tuyển Việt Nam cho Giải vô địch Tranh biện Thế giới các trường Phổ thông (WSDC). 5 ngày tại Trại Đông sẽ giúp các em tự tin thể hiện quan điểm của mình trước công chúng, kể những câu chuyện truyền cảm hứng, và truyền tải những điều tích cực tới cộng đồng theo cách riêng của mình.<br>Dành cho học sinh từ 8 đến 13 tuổi.
								</div>
							</li>
						</ul>
					</div>
					<div class="video_article">
						<div class="article_box">
							<div class="tab_group">
								<ul>
									<li class="on">Elem Camp Video</li>
									<li>Debate Camp Video</li>
								</ul>
							</div>
							<div class="video_box on">
								<iframe src="https://www.youtube.com/embed/IESpCgQ9ozg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="video_box">
								<iframe src="https://www.youtube.com/embed/zvHuonfNVo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="camp_video_wrap">
						<div class="video_article swiper-container">
							
						</div>	
					</div>
				</div>
			</div>
		</section>

		<section class="objectives_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Mục tiêu học tập</h3>
				<div class="grid_type_wrap_02">
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li class="title_r_02">Tham gia Trại đông Tiếng Anh, các em sẽ được:</li>
						</ul>
						Củng cố chuyên sâu kỹ năng Viết, đọc hiểu để có thể làm chủ ngôn ngữ, tự tin thể hiện quan điểm cùa mình.<br><br>

						Trau dồi nhân cách để trở thành những cá nhân giàu lòng trắc ẩn, chính trực và luôn sẻ chia tới cộng đồng.<br><br>

						Khám phá thế giới muôn màu và đa sắc qua những "chuyến du hành" thăm quan các quốc gia khác nhau.<br><br>

						Trở nên mạnh mẽ, kiên cường với tinh thần "không bỏ cuộc" trước mọi thử thách, khó khăn trong cuộc sống.
					</div>
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li class="title_r_02">Tham gia Trại đông Tranh biện, các em sẽ được:</li>
						</ul>
						Rèn luyện sự tự tin, sẵn sàng chuẩn bị và truyền tải một câu chuyện trước khán giả.<br><br>
						Nghiên cứu và phân tích các bài báo về tin tức tích cực.<br><br>
						Tranh biện cùng các học sinh khác về những thay đổi mà chúng ta có thể sẽ thấy trong tương lai.<br><br>
						Làm việc nhóm để tạo ra những câu chuyện để chia sẻ trong buổi Thuyết trình cuối khóa.
					</div>
				</div>
			</div>
		</section>

		<section class="info_input_wrap">
			<div class="section_inner">
				<div data-tf-widget="NZCxt65I" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
			</div>
		</section>
		
		<section class="meet_team_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Đội ngũ Phát triển chương trình</h3>
				<div class="grid_type_wrap_01">
					<div class="video_article swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/MUHJhYFWTOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/jfjnQynSV0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
						</ul>
						<div class="swiper-pagination"></div>
					</div>	
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>Tốt nghiệp các trường Đại học danh tiếng như West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, ...</li>
							<li>Từng giữ vai trò chiến lược trong nhiều công ty lớn và tập đoàn Fortune 500</li>
							<li>Trưởng bộ phận Nghiên cứu & Phát triển là Tiến sĩ ngành Giáo dục.</li>
							<li>25 năm kinh nghiệm tổ chức trại hè nội trú & bán trú.</li>
							<li>Chương trình tranh biện do Huấn luyện viên trưởng của Đội tuyển quốc gia Việt Nam tham dự Giải Tranh biện Vô địch Thế giới bậc Trung học (WSDC) thiết kế.</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="testimonials_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Testimonials</h3>
				<div class="swipe_type_01_wrap results_swiper_01">
					<div class="swiper-container">
						<ul class="swiper-wrapper swipe_type_02 team_list">
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
									</div>
								</a>
							</li>
							
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
									</div>
								</a>
							</li>
						</ul>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
						<div class="swiper-pagination"></div>
						
					</div>
				</div>
			</div>
		</section>
		
		<section class="offers_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Ưu đãi</h3>
				<div class="brochure_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/discount-vn.png" alt="">
				</div>
				<div class="text_box">
					<h3 class="title_r_02">Join Our 2021 Winter Day Camp!</h3>
					<a href="https://pointavenue1.typeform.com/to/NZCxt65I" target="_blank" class="btn_type_01--sec blue">
						<span class="btn_inner">Register</span>
					</a>
				</div>
			</div>
		</section>
	</div>
	<!--container :: end-->
	<div class="layer_popup testimonials_popup">
		<div class="popup_cont">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
			</div>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
	</div>
    <%- include("../partials/footer-vn") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

