<%- include("../partials/head_start") %>
<title>Winter Day Camp - Point Avenue</title>
<meta name="keywords" content="Camp, Winter Day Camp, Point Avenue">
<meta name="title" content="Winter Day Camp - Point Avenue">
<meta property="og:title" content="Winter Day Camp - Point Avenue">

<%- include("../partials/common_styles") %>
<%- include("../partials/common_scripts") %>
<script language="JavaScript" type="text/javascript" src="/js/sub/camp/winter-day-camp.js"></script>
<%- include("../partials/head_end") %>
<%- include("../partials/body_start") %>
<div class="wrap sub day_camp winter">
  <%- include("../partials/gnb") %>
	<!-- container :: start -->
	<div class="container">
		<section class="visual_wrap">
			<div class="section_inner">
				<div class="text_box">
					<h2 class="title_r_01">WINTER DAY CAMP</h2>
				</div>
			</div>
		</section>

		<section class="camp_translation_wrap">
			<div class="section_inner">
				<div class="btn_box">
					<a href="/camp/winter-day-camp" class="eng on">Read in English</a>
					<a href="/camp/winter-day-camp-vn" class="vitn">Read in Vietnamese</a>
				</div>
			</div>
		</section>
		
		<section class="camp_info_wrap">
			<div class="section_inner">
				<div class="grid_type_wrap_03">
					<div class="text_article">
						<ul>
							<li class="on">
								<p class="title_r_02 section_title">Winter Day Camp 2021</p>
								<div class="text">
									Based on Character development, our 2021 Winter programs use the core pillars of: Academic Rigor, Physical Fitness, and Global Citizenry (skills for the 21st century) to prepare for students to take step into future. Most importantly, we want your child to reconnect and make lifelong memories and friendships this Winter Break.
								</div>
							</li>
							<li>
								<p class="title_r_02">Elementary Day Camp</p>
								<div class="text">
									<strong>Our two-week Winter Camp has been designed around the giving season themes to form a unique community project-based learning experience.</strong><br ><br >
									Focusing on reading and writing and facilitating expression of ideas through engaging projects and group activities, your child will be inspired to be creative and use their critical thinking skills, team building to create positive community impact.
								</div>
							</li>
							<li>
								<p class="title_r_02">Debate Intensive Camp</p>
								<div class="text">
									<strong>Power of Positivity: Public Speaking and Storytelling is a 5-day camp to discover, analyze, discuss, create, and share inspiring and uplifting stories.</strong><br><br >
									This camp is for students who want to master the art of public speaking and storytelling and confidently present in front of an audience. Point Avenue Debate Programs is proud to introduce and launch the first Global Winter Camp, where students will be interacting and collaborating with their peers from Thailand and Vietnam.
								</div>
							</li>
						</ul>
					</div>
					<div class="video_article">
						<div class="article_box">
							<div class="tab_group">
								<ul>
									<li class="on">Elem Camp Video</li>
									<li>Debate Camp Video</li>
								</ul>
							</div>
							<div class="video_box on">
								<iframe src="https://www.youtube.com/embed/IESpCgQ9ozg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="video_box">
								<iframe src="https://www.youtube.com/embed/zvHuonfNVo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
					<div class="camp_video_wrap">
						<div class="video_article swiper-container">
							
						</div>	
					</div>
				</div>
			</div>
		</section>
		
		<section class="objectives_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Learning Objectives</h3>
				<div class="grid_type_wrap_02">
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li class="title_r_02">Winter Day Camp:</li>
						</ul>
						Develop fundamental writing & reading skills and learn to structure ideas to discover and better express themselves.<br><br>

						Become upstanding and impactful members of their community through character & social skills development<br><br>

						Explore the diversity of the world through a trip to visit many countries and cultures<br><br>

						Overcome any challenges or difficulties by realizing that every problem has a key to solve
					</div>
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li class="title_r_02">Winter Debate Camp:</li>
						</ul>
						Develop confidence in preparing and delivering a story in front of an audience<br><br>
						Research and analyze articles covering positive news<br><br>
						Debate with their peers on what changes we can foresee in the future<br><br>
						Collaborate to create stories to share on the Final Showcase
					</div>
				</div>
			</div>
		</section>
		
		<section class="info_input_wrap">
			<div class="section_inner">
				<div data-tf-widget="NZCxt65I" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
			</div>
		</section>
		
		<section class="meet_team_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Meet The Team</h3>
				<div class="grid_type_wrap_01">
					<div class="video_article swiper-container">
						<ul class="swiper-wrapper">
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/MUHJhYFWTOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
							<li class="swiper-slide">
								<div class="video_box">
									<iframe src="https://www.youtube.com/embed/jfjnQynSV0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</li>
						</ul>
						<div class="swiper-pagination"></div>
					</div>	
					<div class="text_article">
						<ul class="ul_type_03 blue">
							<li>Graduates of West Point, Harvard, Cambridge, Johns Hopkins, UPenn, Northwestern, UC Berkeley, UCLA, and more</li>
							<li>Held strategic positions in Fortune 500 companies</li>
							<li>Head of Research and Development and Teacher Training with a Ph.D. in Education</li>
							<li>25 years of experience operating boarding and day summer camps</li>
							<li>Debate training developed by the Head Coach of World Schools Debating Championships (WSDC) Vietnam National Team</li>
							<li>50+ years of total test prep experience for SAT, SSAT, IELTS, and TOEFL</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<section class="testimonials_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Testimonials</h3>
				<div class="swipe_type_01_wrap results_swiper_01">
					<div class="swiper-container">
						<ul class="swiper-wrapper swipe_type_02 team_list">
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-1.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-2.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-3.jpg" alt="">
									</div>
								</a>
							</li>
							
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-4.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-5.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-6.jpg" alt="">
									</div>
								</a>
							</li>
							<li class="swiper-slide swipe_type_02--item team_item">
								<a href="javascript:void(0);">
									<div class="swipe_type_02--img team_img">
										<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/summer/testimonials/LoveforPA-7.jpg" alt="">
									</div>
								</a>
							</li>
						</ul>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev black"></div>
						<div class="swiper-button-next black"></div>
						
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="offers_wrap">
			<div class="section_inner">
				<h3 class="title_r_02 section_title">Our Offers</h3>
				<div class="brochure_box">
					<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/camp/winnter/boarding/discount.png" alt="">
				</div>
				<div class="text_box">
					<h3 class="title_r_02">Join Our 2021 Winter Day Camp!</h3>
					<a href="https://pointavenue1.typeform.com/to/NZCxt65I" target="_blank" class="btn_type_01--sec blue">
						<span class="btn_inner">Register</span>
					</a>
				</div>
			</div>
		</section>
	</div>
	<!--container :: end-->
	<div class="layer_popup testimonials_popup">
		<div class="popup_cont">
			<div class="img_box">
				<img src="https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/sub/common/testimonial.png" alt="">
			</div>
		</div>
		<a href="javascript:void(0);" class="close_btn"><span class="blind">close</span></a>
	</div>
    <%- include("../partials/footer") %>
		<%- include("../partials/common_popup") %>
</div>
    <%- include("../partials/body_end") %>

