<% if(course) { %>
  <li class="class_box_type_01--item">
    <div class="class_box_type_01--img">
      <a href="/programs/<%-course.urlName-%>"><img src="<%-course.thumbnail-%>"
          onError="this.src='https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png'"
          alt="<%-course.name-%> thumbnail"></a>
    </div>
    <div class="class_box_type_01--desc">
      <div class="text--gray">
        <p class="age"><%-course.age%></p>
        <p class="times"><%-course.hour-%></p>
      </div>
      <p class="title_r_03"><a href="/programs/<%-course.urlName-%>"><%-course.name-%></a></p>
      <span class="class_type"><%-course.type-%></span>
    </div>
  </li>
  <% } else { %>
    <li class="class_box_type_01--item">
      <div class="class_box_type_01--img">
        <a href="/program/"><img src=""
            onError="this.src='https://pointavenue.sgp1.cdn.digitaloceanspaces.com/pasite/images/common/none_img.png'"
            alt="thumbnail"></a>
      </div>
      <div class="class_box_type_01--desc">
        <div class="text--gray">
          <p class="age"></p>
          <p class="times"></p>
        </div>
        <p class="title_r_03"><a href="/program/"></a></p>
        <span class="class_type"></span>
      </div>
    </li>
    <% } %>